<ng-container *ngIf="showProgressbar">
    <div style="z-index: 100;;position: -webkit-sticky;position:sticky;top:0;">
        <mat-progress-bar mode="indeterminate" style="color:white;"></mat-progress-bar>
    </div>
</ng-container>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <h1 class=" text-white title">Create Posts</h1>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7" style="background-color: #172b4d;">
    <div class="row">
        <div class="col p-0">
            <div class="card shadow border-0 pb-8">
                <div class="container">
                    <app-upload-img  [baseUrl]="baseUrl" [isPost]="true" (show)="show($event)" (croppedImg)="getCroppedImage($event)" ></app-upload-img>
                </div>

                <div *ngIf="showForm" class="row justify-content-center">
                    <div class="col-xl-10 col-12">
                        
                        <div class="card shadow m-3 ">
                            <div class="row justify-content-center mt-5">
                                <div class="col-xl-5 col-7 ">
                                 <img  [src]="croppedImage" style="width:100%;" >
                                </div>
                                
                                
                            </div>
                            <form #form="ngForm">
                                <div class="col-xl-8 col-10 mt-5 mx-auto d-block">
                                    <div class="form-group">
                                        <input  autocomplete="off" [(ngModel)]="post.postDescription" name="caption" #caption="ngModel" type="text" class="form-control caption"
                                            placeholder="Enter Caption" style="border-radius: 0px;" required>
                                    </div>
                                    <small *ngIf="caption.errors?.required && caption.touched" class="text-danger">Caption is required</small>
                                </div>
                               

                                <div class="text-center mt-4 mb-4">
                                    <p *ngIf="disabled" class="text-center text-default "><small>Please wait, Creating post</small></p>
                                    <button type="submit" [disabled]="!form.valid || disabled" (click)="createPost()" class="btn btn-primary">Post</button>
                                </div>
                                
                            </form>
                            
                        </div>
                       

                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>
