<ng-container *ngIf="showProgressbar">
  <div style="z-index: 100;position: -webkit-sticky;position:sticky;top:0;">
    <mat-progress-bar mode="indeterminate" style="color:white;"></mat-progress-bar>
  </div>
</ng-container>

<div class="bg ">
  <div class="col-lg-12">
    <div class="row">
    </div>
    <div class="mx-xl-9 mx-lg-8 mx-md-4 mx-sm-5">
      <app-address></app-address>

      <div class="card shadow" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()">
        <!-- Card header -->
        <div class="card-header">
          <!-- Title -->
          <h5 class="h3 mb-0">Kids</h5>
        </div>

        <ng-container *ngIf="kidslist.length==0">
          <div class="col-12 col-xl-10 mx-auto d-block my-xl-6 my-4 py-xl-7 py-6">
            <p class="text-center text-xl"><i class="fas fa-child"></i></p>
            <p class="text-xl text-center text-lg"><b>No kids found.</b></p>
          </div>
        </ng-container>
        <ng-container *ngIf="kidslist.length!=0">
          <ng-container *ngIf="showSpinner">
            <mat-spinner class="mx-auto mt-5" color="primary" [diameter]="40">
            </mat-spinner>
          </ng-container>

          <ng-container *ngIf="kidslist.length!=0">
            <div class="card-body">
              <!-- List group -->
              <ul class="list-group list-group-flush list my--3">
                <li class="list-group-item px-0">
                  <div class="row">
                    <table class="table">
                      <tr>
                        <td class="pb-0">
                          <h5>Name</h5>
                        </td>
                        <td class="text-right pb-0">
                          <h5>Present?</h5>
                        </td>
                      </tr>
                    </table>
                  </div>
                </li>
                <li *ngFor="let k of kidslist" class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <!-- Avatar -->
                      <div class="avatar rounded-circle">
                        <img  src="{{k.photo}}">
                      </div>
                    </div>
                    <div class="col ml--2">
                      <h5 class="mb-0">
                        {{k.name}}
                      </h5>
                      <span class="text-muted text-sm">age : {{k.age}}</span>
                    </div>
                    <div class="col-auto">
                      <label class="custom-toggle">
                        <input type="checkbox" [value]="k.kidId" (change)="addKid($event)">
                        <span class="custom-toggle-slider rounded-circle" data-label-off="No"
                          data-label-on="Yes"></span>
                      </label>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="text-center mt-4 mb-4">
                <p *ngIf="disabledMessage" class="text-center text-default"><small>Please wait..</small></p>
                <button [disabled]="disabled" (click)="addSessionAttendance()" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </ng-container>
        </ng-container>

      </div>
    </div>
  </div>
</div>