<ng-container *ngIf="showProgressbar">
    <div style="z-index: 100;position: -webkit-sticky;position:sticky;top:0;">
      <mat-progress-bar mode="indeterminate" style="color:white;"></mat-progress-bar>
    </div>
  </ng-container>
<ng-container *ngIf="showForm">
    <div class="main-content">

        <div class="header bg-primary pt-7 pb-5 ">
            <div class="container">
                <h1 class="display-3 text-white font-weight-bold  text-center">{{event.title}} 2021</h1>
            </div>
            <div class="container">
    
                <div class="header-body">
                    <div class="row ">
    
                    </div>
                </div>
            </div>
    
        </div>
        <div class=" bg-white  p-lg-6 p-xl-6 p-md-6 p-sm-6 p-xs-8 p-4 ">
            <div class="row p-4 justify-content-center bg-secondary" >
                <div class="col-12 ">
                    <div class="px-xl-8">
                        <form class="px-xl-8 px-lg-8 px-md-6" (ngSubmit)="onSubmit()" #form="ngForm">
                            <h1 class="form-group mt-0 text-center">Participation Form</h1>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-name">Name</label>
                                    <input autocomplete="off" #name="ngModel" name="name" [(ngModel)]="eventParticipant.name" type="text"
                                        id="input-name" class="form-control form-control-alternative" placeholder="Name"
                                        required pattern="[a-zA-z ]{3,20}" minlength="3" maxlength="30">
                                    <small *ngIf="name.errors?.required && name.touched" class="text-danger">Name is
                                        required</small>
                                    <small *ngIf="name.errors?.pattern " class="text-danger">Invalid Name</small>
                                    <small *ngIf="name.errors?.maxlength " class="text-danger">Name can not exceed 30 characters</small>
                                    <!-- <small *ngIf="name.errors?.minlength " class="text-danger">Name should greater than 3 characters</small> -->
                                </div>
                            </div>
    
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">Email Address</label>
                                    <input autocomplete="off" name="email" #email="ngModel" [(ngModel)]="eventParticipant.email" type="email"
                                        id="input-email" class="form-control form-control-alternative"
                                        placeholder="Email Address" required email maxlength="40">
                                    <small *ngIf="email.errors?.required && email.touched" class="text-danger">Email is
                                        required</small>
                                    <small *ngIf="email.errors?.email || email.errors?.maxlength"
                                        class="text-danger">Invalid Email</small>
                                </div>
                            </div>
    
    
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-phone">Contact No</label>
                                    <input autocomplete="off"  #phone="ngModel" name="phone" [(ngModel)]="eventParticipant.phoneNumber"
                                        type="text" id="input-phone" class="form-control form-control-alternative"
                                        placeholder="Contact No" required pattern="[0-9]{10}" maxlength="10">
                                    <small *ngIf="phone.errors?.required && phone.touched" class="text-danger">Contact
                                        Number is required</small>
                                    <small *ngIf="phone.errors?.pattern" class="text-danger">Invalid Contact Number</small>
                                </div>
                            </div>
    
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-gender">Gender</label>
    
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-3 col-4 ml-4">
                                                <div class="form-group">
    
                                                    <input #gender="ngModel" value="1" [(ngModel)]="eventParticipant.gender"
                                                        name="gender" class="form-check-input" type="radio"
                                                        name="flexRadioDefault" id="input-male" required>
                                                    <label class="form-check-label" for="input-male">
                                                        Male
                                                    </label>
                                                </div>
                                            </div>
    
                                            <div class="col-lg-3 col-4 ml-4">
                                                <div class="form-group">
                                                    <input #gender="ngModel" value="2" [(ngModel)]="eventParticipant.gender"
                                                        name="gender" class="form-check-input" type="radio"
                                                        name="flexRadioDefault" id="input-female" required>
                                                    <label class="form-check-label" for="input-female">
                                                        Female
                                                    </label>
                                                </div>
                                            </div><br>
                                            <small *ngIf="!gender.valid&& form.submitted" class="text-danger">Gender is
                                                required</small>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-dob">Date Of Birth</label>
                                    <input name="dob" #dob="ngModel" [(ngModel)]="eventParticipant.dob" type="date"
                                        id="input-dob" class="form-control form-control-alternative" placeholder="DOB"
                                        required>
                                    <small *ngIf="!dob.valid && dob.touched" class="text-danger">DOB is required</small>
                                </div>
                            </div>
    
                            <div class="text-center mt-xl-4"><button [disabled]="!form.valid" type="submit"
                                    class="btn btn-primary m-2" style="color:white;">Submit</button></div>
    
    
                        </form>
                    </div>
                </div>
    
            </div>
        </div>
    
    </div>
</ng-container>
<ng-container *ngIf="!showForm">
    <div class="header bg-gradient-danger py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white display-4">Thank you for registering !</h1>
              
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <div class="container mt--9 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-9 ">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
    
              <div class="card-body px-lg-5 py-lg-5 p-2">
                <div class="text-center text-muted mb-4">
                  <h1 class="mb-4">You are successfully registered for this event.</h1>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
     </div> 
  </ng-container>