<!-- Page content -->
<ng-container *ngIf="showProgressbar">
    <div style="z-index: 100;position: -webkit-sticky;position:sticky;top:0;">
        <mat-progress-bar mode="indeterminate" style="color:white;"></mat-progress-bar>
    </div>
</ng-container>
<div *ngIf="isShow" class="card shadow border-0 pb-8">
    <!-- <div *ngIf="currentFileUpload" class="progress mt-2">
        <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}"
            aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
            {{ percentage }}%
        </div>
    </div> -->
    <div class="container">
        <form #form="ngForm">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-5 col-xl-5 col-md-7 col-sm-7 col-10">
                <div class="form-group"  >
                    <div class="custom-file">
                        <input accept=".png,.jpg" style="cursor: pointer;" type="file" class="custom-file-input" id="customFile"
                            (change)="fileChangeEvent($event);selectFile($event)">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                        <small *ngIf='disabled && selectedFileName'><span class="text-danger">File size must not exceed 25mb</span></small>
                    </div>
                    
                </div>
            </div>
        </div>
        <hr>

        <div class="row justify-content-center mt-4">
            <p (click)="zoomIn()" class="display-4 mr-4"><i class="fas fa-search-plus"></i></p>
            <p (click)="zoomOut()" class="display-4"><i class="fas fa-search-minus"></i></p>
        </div>

        <div class="row justify-content-center" style="margin-top: 5%;">
            <div class="text-center col-xl-8 col-lg-12 col-md-12 order-sm-2 order-2" style="height: 70vh;position: relative;">
                <h5>Crop Image</h5>
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                    [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="x / y" [resizeToWidth]="1400"  [resizeToHeight]="1200" 
                    [transform]="transform" [onlyScaleDown]="true" format="jpg" (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                </image-cropper>
            </div>
            <div class="text-center col-md-12" >
                <h5>Preview</h5>
                <img width="50%" class="img-fluid" [style.border]="croppedImage ? '1px solid black' : 'none'" [src]="croppedImage" />
            </div>

        </div>
        
        <div class="row justify-content-center mt-6">
            <button [disabled]="showError || disabled" class="btn btn-primary mx-auto d-block mt-3" (click)="getCroppedImage()">Upload</button>
        </div>
    </form>
    </div>
</div>