#shortcuts:hover{
    background-color: rgba(243, 235, 250, 0.801);
    box-shadow: 0px 2px 30px rgb(236, 235, 235);
}

.border-pink
{
    border-left: 5px solid rgb(226, 43, 202);
    
}
.border-purple
{
    border-left: 5px solid blueviolet;
   
}
.border-yellow
{
    border-left: 5px solid rgb(238, 229, 98);
   
}

.border-green
{
    border-left: 5px solid rgb(101, 226, 43);
   
}
