<div class="header bg-gradient-danger py-7 py-lg-7">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome back!</h1>
          <h3 class="text-lead text-light">We welcome you again. Thank you for giving your precious time.</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-7 col-md-9">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-2">

          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <h1>Sign in</h1>
            </div>
            <form role="form" (ngSubmit)="loginAuth(vmsLogin.value)" #vmsLogin="ngForm">
              <div class="alert alert-danger" *ngIf='invalidLogin'>{{errorMessage}}</div>
              <div class="alert alert-success" *ngIf='successLogin'>{{successMessage}}</div>
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input autocomplete="off" class="form-control" #email='ngModel' placeholder="Email" type="email"
                    name="username" ngModel maxlength="40" email>

                </div>
                <small *ngIf="email.value=='' && email.touched" class="text-danger">Email is required</small>
                <small *ngIf="email.errors?.email" class="text-danger">Email is invalid</small>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input autocomplete="off" class="form-control" #psw="ngModel" placeholder="Password" type="password"
                    name="password" ngModel>

                </div>
                <small *ngIf="psw.value=='' && psw.touched" class="text-danger">Password is required</small>
              </div>
              <!--<div class="custom-control custom-control-alternative custom-checkbox">
              <input autocomplete="off" class="custom-control-input" id=" customCheckLogin" type="checkbox">
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Remember me</span>
              </label>
            </div>-->
              <div class="text-center">
                <button [hidden]='hide' type="button submit" [disabled]="!vmsLogin.valid || email.value=='' || psw.value==''"
                  class="btn btn-primary my-4">Sign in</button>
              </div>
            </form>
            <ng-container *ngIf="showSpinner">
              <div class="col-12">
                <mat-spinner class="mx-auto d-block my-4" color="primary" [diameter]="40">
                </mat-spinner>
              </div>
              <p class="text-default text-center"><small>Please Wait..</small></p>
            </ng-container>
            <div class="row ">
              <div class="col-6">
                <a routerLink="/forgot-password" class="text-muted"><small>Forgot password?</small></a>
              </div>
              <div class="col-6 text-right">
                <a routerLink="/register" class="text-muted"><small>Create new account</small></a>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>