<div class=" pb-0 pt-0 pt-md-6  bg-primary ">
    <div class="container-fluid mb-0">

    </div>

</div>
<ng-container *ngIf="showProgressbar">
    <div style="z-index: 100;position: -webkit-sticky;position:sticky;top:0;">
        <mat-progress-bar mode="indeterminate" style="color:white;"></mat-progress-bar>
    </div>
</ng-container>

<div class=" row justify-content-center mx-0 mt-0 py-4">
    <div class="col-12 col-xl-11 p-0 ">
        <div class="card shadow p-4" style=" background-color: #f8fcfd;">
            <!-- Card header -->
            <div class=" border-0">
                <div class="row justify-content-center">
                    <div class="col-xl-11 col-12">
                        <h1 class="mb-0 text-center">Feedbacks</h1>
                        <ng-container *ngIf="noFeedbacks">
                            <div class="col-12 col-xl-10 mx-auto d-block my-xl-5 my-6 py-xl-7 py-6">
                                <p class="text-center text-xl"><i class="far fa-comment-alt"></i></p>
                                <p class="text-xl text-center text-lg"><b>No feedbacks of this session.</b></p>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="showSpinner">
                            <div class="col-12 my-8">
                                <mat-spinner class="mx-auto d-block my-4" color="primary" [diameter]="40">
                                </mat-spinner>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="fLength">
                            <div class="col-12 mt-4">
                                <div class="row justify-content-center">
                                    <div class="col-xl-10 mx-auto d-block">

                                        <form class="example-container ">
                                            <div class="col-lg-6 col-md-7 col-sm-7 mx-auto d-block mb-4">
                                                <div class="form-group mb-0">
                                                    <div class="form-group mb-0"
                                                        [ngClass]="{ 'focused': focus === true }">
                                                        <div class="input-group input-group-alternative p-0 border border-primary"
                                                            style="border-radius: 30px; ">
                                                            <div class="input-group-prepend  ">
                                                                <span class="input-group-text p-0 m-2"><i
                                                                        class="fas fa-search"></i></span>
                                                            </div>
                                                            <input autocomplete="off" class="form-control p-0 "
                                                                style="border-radius: 30px;" placeholder="Search"
                                                                type="text" (focus)="focus = true"
                                                                (blur)="focus = false" [(ngModel)]="search"
                                                                name="search">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-0" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
                                (scrolled)="onScroll()">
                                <div *ngFor="let f of feedbacks | feedback : search"
                                    class="card col-12 shadow p-xl-5 p-lg-4 p-md-3 p-sm-3 p-3 mt-4 mb-6">
                                    <div class="row align-items-center mb-3">
                                        <div class="col-auto">
                                            <!-- Avatar -->
                                            <div class="avatar rounded-circle">
                                                <img src="{{f.user.photo}}">
                                            </div>
                                        </div>
                                        <div class="col ml--2">
                                            <h4 class="mb-0">
                                                {{f.user.userName}}
                                            </h4>

                                        </div>

                                        <div class="col-3 text-right ">
                                            <i style="cursor: pointer;" (click)="delete(f.sessionReportId)"
                                                class="fas fa-trash text-lg text-danger"></i>
                                        </div>

                                        <br>

                                    </div>
                                    <hr class="mt-0">
                                    <div class="border px-4 py-4">
                                        <div class=" px-4 py-4  rounded">
                                            <h3><i class="fas fa-book mr-2 text-md text-danger"></i>Volunteaching</h3>
                                            <p class="mb-0 text-justify">{{f.description}}</p>
                                        </div>

                                        <div class=" px-4 py-4 rounded">
                                            <h3><i class="fas fa-star mr-2 text-md text-yellow"></i>Experience</h3>
                                            <p class="mb-0 text-justify">{{f.experience}}</p>
                                        </div>

                                        <ng-container *ngIf="f.requirements!=null">
                                            <div class=" px-4 py-4 rounded">
                                                <h3><i class="ni ni-bag-17 mr-2 text-md text-primary"></i> Requirements
                                                </h3>
                                                <p class="mb-0 text-justify">{{f.requirements}}
                                                </p>
                                            </div>
                                        </ng-container>

                                        <ng-container *ngIf="f.suggestions!=null">
                                            <div class=" px-4 py-4 rounded">
                                                <h3><i class="ni ni-bulb-61 mr-2 text-md text-success"></i>Suggestions
                                                </h3>
                                                <p class="mb-0 text-justify">{{f.suggestions}}</p>
                                            </div>
                                        </ng-container>
                                    </div>


                                </div>
                            </div>
                        </ng-container>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>