<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <h1 class=" text-white title">{{heading}}</h1>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7" style="background-color: #172b4d;">
    <div class="row">
        <div class="col p-0">
            <div class="card shadow border-0 pb-8" style="background-color: #f8fcfd;">

                <div class="bg">
                    <div class="col-lg-12 mt-3">
                        <!-- make a from of this -->


                        <app-address></app-address>

                        <div class="p-xl-5">
                            <div class="card" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
                                (scrolled)="onScroll()">
                                <!-- Card header -->
                                <div class="card-header">
                                    <!-- Title -->
                                    <h5 class="h3 mb-0">Kids</h5>
                                </div>
                                <!-- Card body -->
                                <ng-container *ngIf="kidslist.length==0">
                                    <div class="col-12 col-xl-10 mx-auto d-block my-xl-6 my-4 py-xl-7 py-6">
                                        <p class="text-center text-xl"><i class="fas fa-child"></i></p>
                                        <p class="text-xl text-center text-lg"><b>No kids found.</b></p>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="kidslist.length!=0">
                                    <ng-container *ngIf="showSpinner">
                                        <mat-spinner class="mx-auto mt-5" color="primary" [diameter]="40">
                                        </mat-spinner>
                                    </ng-container>
                                    <ng-container *ngIf="!showSpinner">
                                        <div class="row justify-content-center my-4">
                                            <div class="col-xl-10 mx-auto d-block">
            
                                                <form class="example-container ">
                                                    <div class="col-lg-6 col-md-7 col-sm-7 mx-auto d-block">
                                                        <div class="form-group mb-0">
                                                            <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
                                                                <div class="input-group bg-white input-group-alternative p-0 border border-white"
                                                                    style="border-radius: 30px; ">
                                                                    <div class="input-group-prepend  ">
                                                                        <span class="input-group-text p-0 m-2"><i
                                                                                class="fas fa-search"></i></span>
                                                                    </div>
                                                                    <input autocomplete="off" class="form-control p-0 "
                                                                        style="border-radius: 30px;" placeholder="Search"
                                                                        type="text" (blur)="focus = false" [(ngModel)]="search"
                                                                        name="search">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <!-- List group -->
                                            <ul class="list-group list-group-flush list my--3">
                                                <li *ngFor="let k of kidslist| kids : search" class=" card list-group-item p4 m-4"
                                                    style=" box-shadow: 0px 3px 15px rgba(0,0,0,0.05);">
                                                    <div class="row align-items-center ">
                                                        <div class="col-auto">
                                                            <!-- Avatar -->
                                                            <div class="avatar rounded-circle">
                                                               <img src="{{k.photo}}">
                                                            </div>
                                                        </div>
                                                        <div class="col ml--2 p4">
                                                            <h5 class="mb-0">
                                                                {{k.name}}
                                                            </h5>
                                                            <span class="text-muted text-sm"><b>Age</b> : {{k.age |
                                                                number:
                                                                '0.0-0'}}</span><br>

                                                            <span class="text-muted text-sm"><b> Standard</b> : {{k.
                                                                standard}}</span>
                                                        </div>
                                                        <ng-container *ngIf="edit">
                                                            <div class="mx-auto d-block col-auto bp2">

                                                                <i style="cursor: pointer;"
                                                                    routerLink="{{redirectToPart1}}{{k.kidId}}{{redirectToPart2}}"
                                                                    class="fas fa-edit display-4 text-primary"></i><span
                                                                    class="text-primary"></span>

                                                            </div>
                                                        </ng-container>
                                                        <ng-container *ngIf="view">
                                                            <div class="mx-auto d-block col-auto bp2">

                                                                <a style="cursor: pointer;"
                                                                    routerLink="{{redirectToPart1}}{{k.kidId}}{{redirectToPart2}}"
                                                                    class="btn btn-primary btn-sm">View Report</a>

                                                            </div>
                                                        </ng-container>
                                                        <ng-container *ngIf="create">
                                                            <div class="mx-auto d-block col-auto bp2">

                                                                <a style="cursor: pointer;"
                                                                    routerLink="{{redirectToPart1}}{{k.kidId}}{{redirectToPart2}}"
                                                                    class="btn btn-primary btn-sm">Create Report</a>

                                                            </div>
                                                        </ng-container>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>