<ng-container *ngIf="showProgressbar">
    <div style="z-index: 100;position: -webkit-sticky;position:sticky;top:0;">
        <mat-progress-bar mode="indeterminate" style="color:white;"></mat-progress-bar>
    </div>
</ng-container>
<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white display-4">Welcome!</h1>
                    <h2 class="text-lead text-light ">Please fill required detail so you can have access to vms</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Page content -->
<div class=" mt--9 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class=" col-xl-6 col-lg-8 col-md-9 ">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5">

                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <h1>Volunteacher</h1>
                        </div>
                        <form (ngSubmit)="addUser()" #form="ngForm">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-name">Name</label>
                                    <input autocomplete="off" #name="ngModel"  readonly name="name" [value]="applicantRequest.name" [(ngModel)]="v.user.userName" type="text"
                                        id="input-name" class="form-control form-control-alternative" placeholder="Name"
                                         pattern="[a-zA-Z ]{3,20}">
                                    <!-- <small *ngIf="name.errors?.required" class="text-danger">Name is
                                        required</small>
                                    <small *ngIf="name.errors?.pattern" class="text-danger">Invalid Name</small> -->
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">Email Address</label>
                                    <input autocomplete="off" name="email" readonly [value]="applicantRequest.emailId" #email="ngModel" [(ngModel)]="v.user.email" type="text"
                                        id="input-email" class="form-control form-control-alternative"
                                        placeholder="Email Address" email maxlength="40">
                                    <!-- <small *ngIf="email.errors?.required" class="text-danger">Email is
                                        required</small>
                                    <small *ngIf="email.errors?.email || email.errors?.maxlength"
                                        class="text-danger">Invalid
                                        Email</small>
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="invalidEmail == true">
                                    Email Already exist.
                                </div> -->
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-phone">Contact No</label>
                                    <input autocomplete="off" #phone="ngModel" readonly [value]="applicantRequest.phoneNumber" name="phone" [(ngModel)]="v.user.phoneNumber" type="text"
                                        id="input-phone" class="form-control form-control-alternative"
                                        placeholder="Contact No" pattern="[0-9]{10}" maxlength="10">
                                    <!-- <small *ngIf="phone.errors?.required" class="text-danger">Contact
                                        Number is
                                        required</small>
                                    <small *ngIf="phone.errors?.pattern" class="text-danger">Invalid Contact
                                        Number</small> -->
                                </div>                              
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-gender">Gender</label>

                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-3 col-4 ml-4">
                                                <div class="form-group">

                                                    <input #gender="ngModel" value="1" [(ngModel)]="v.user.gender"
                                                        name="gender" class="form-check-input" type="radio"
                                                        name="flexRadioDefault" id="input-male" required>
                                                    <label class="form-check-label" for="input-male">
                                                        Male
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-4 ml-4">
                                                <div class="form-group">
                                                    <input #gender="ngModel" value="2" [(ngModel)]="v.user.gender"
                                                        name="gender" class="form-check-input" type="radio"
                                                        name="flexRadioDefault" id="input-female" required>
                                                    <label class="form-check-label" for="input-female">
                                                        Female
                                                    </label>
                                                </div>
                                            </div><br>
                                            <small *ngIf="!gender.valid&& form.submitted" class="text-danger">Gender is
                                                required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                              <div class="form-group">
                                  <label class="form-control-label" for="input-startdate">
                                      DOB</label>
                                  <input type="text" id="input-startdate"
                                      class="form-control form-control-alternative" placeholder="DOB"
                                      name="dob" #date="ngModel" [(ngModel)]="v.user.dob"
                                      required onfocus="(this.type = 'date')">
                                  <small *ngIf="date.errors?.required && date.touched"
                                      class="text-danger">DOB is required</small>
                              </div>
                          </div>

                            <div class="col-12">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-pincode">Pincode</label>
                                  <input autocomplete="off" name="pincode"  #pincode="ngModel" type="text" id="input-pincode" class="form-control form-control-alternative" placeholder="Enter Pincode"
                                  pattern="[0-9]{6}" maxlength="6" [(ngModel)]="v.pincode" >
                                  <small class="text-danger" *ngIf="pincode.errors?.pattern">Invalid pincode</small>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-city">Join As a</label>
                                  
                                  <select required #type="ngModel" ngModel name="type" class="form-control form-control-alternative" id="input-city" (change)="selectedUserType($event)">
                                    <option value="" selected>Select</option>
                                    <option [value]="usertypes.indexOf(u)+1" *ngFor="let u of usertypes">{{u}}</option>
                                  </select>
                                  <small class="text-danger" *ngIf="type.touched && type.errors?.required">Usertype required</small>
                                </div>
                              </div>

                              <div class="col-12"  *ngIf="isLvt">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-village">Village</label>
                                  <select required #village="ngModel" name="village" ngModel class="form-control form-control-alternative" id="input-village" (change)="selectedVillage($event)" >
                                      <option value="" selected>Select</option>
                                    <option [value]="v.villageId" *ngFor="let v of villages">{{v.villageName}}</option>
                                  </select>
                                  <small class="text-danger" *ngIf="village.touched && village.errors?.required">Village required</small>
                                </div>
                              </div>

                              <div class="col-12" *ngIf="isVt">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-city">State</label>
                                  <select required #state="ngModel" name="state" ngModel class="form-control form-control-alternative" id="input-state" (change)="selectedState($event)">
                                    <option value="" selected>Select</option>
                                    <option [value]="s.stateId" *ngFor="let s of states">{{s.stateName}}</option>
                                  </select>
                                  <small class="text-danger" *ngIf="state.touched && state.errors?.required">State required</small>
                                </div>
                              </div>

                              <div class="col-12" *ngIf="isVt">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-district">City</label>
                                  <select required #district="ngModel" name="district" ngModel class="form-control form-control-alternative" id="input-district" (change)="selectedDistrict($event)">
                                    <option value="" selected>Select</option>
                                    <option [value]="d.districtId" *ngFor="let d of districts">{{d.districtName}}</option>
                                  </select>  
                                  <small class="text-danger" *ngIf="district.touched && district.errors?.required">District required</small>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                    <label>My Education</label>
                                    <textarea required name="education" #education="ngModel" [(ngModel)]="v.education" rows="3" class="form-control form-control-alternative" placeholder="Education">Complted M.Sc in AI ML ,currently working at Google. Pursuing PhD in Canada</textarea>
                                    <small class="text-danger" *ngIf="education.errors?.required && education.touched">Education is required</small>
                                  </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group"> 
                                  <label class="form-control-label" for="input-employer">Employer name</label>
                                  <input  autocomplete="off" name="employer" #employer="ngModel" [(ngModel)]="v.employerName"  id="input-employer" class="form-control form-control-alternative" placeholder="Employer Name" value="University of Computer Science" type="text">
                                  
                                </div>
                              </div>

                              <div class="col-md-12"  *ngIf="isLvt">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-school">School Name</label>
                                  <input autocomplete="off" name="school" #school="ngModel" [(ngModel)]="v.school" id="input-school" class="form-control form-control-alternative" placeholder="School Name"  type="text">
                                 
                                </div>
                              </div>
                             
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-school">Create Password</label>
                                  <input autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="psw" #psw="ngModel" [(ngModel)]="v.user.password" id="input-school" class="form-control form-control-alternative" placeholder="Enter password" type="password" required>
                                  <small class="text-danger" *ngIf="psw.errors?.required && psw.touched">Password is required</small>
                                  <small class="text-danger" *ngIf="psw.errors?.pattern && psw.touched">Password does not match with strength</small>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-school">Confirm Password</label>
                                  <input [ngClass]="{'ng-invalid':(passwordMatch && conPsw.touched && conPsw.value !='') || (conPsw.errors?.required && conPsw.touched)}" autocomplete="off" name="conPass" #conPsw="ngModel" id="input-school" class="form-control form-control-alternative" placeholder="Confirm password"  type="password" required ngModel (input)="checkPassword(conPsw.value)">
                                 <small class="text-danger" *ngIf="passwordMatch && conPsw.touched && conPsw.value !=''">Password does not matched</small>
                                 <small class="text-danger" *ngIf="conPsw.errors?.required && conPsw.touched"> Confirm Password is required</small>
                                </div>
                              </div>
                       

                            <div class="text-center">
                                <button [disabled]="!form.valid || (!(psw.value===conPsw.value))&& (conPsw.touched)" type="submit" class="btn btn-primary mt-4">Submit
                                   </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>