<ng-container *ngIf="showProgressbar">
  <div style="z-index: 100;position: -webkit-sticky;position:sticky;top:0;">
    <mat-progress-bar mode="indeterminate" style="color:white;"></mat-progress-bar>
  </div>
</ng-container>
<div class="header bg-gradient-danger pb-7 pt-4 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <h1 class="display-4 text-white">Session Reporting</h1>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7 " style="background-color: #172b4d;">
  <div class="row pl-xl-8 pr-xl-8 p-lg-4 p-md-2 p-sm-2 p-2">
    <div class="col p-0">
      <div class="card shadow border-0">
        <div class="card card-body mb-4">
          <h5 class="h3 mb-0 text-sm text-muted">{{today | date: 'mediumDate'}}</h5>
          <div class="container">
            <h3 class="text-big text-center">Feedback</h3>
            <hr>
            <form role="form" (ngSubmit)="addSessionReport()" #form="ngForm">
              <div class="form-group">
                <label>How was your experience?</label>
                <textarea autocomplete="off" #experience="ngModel" name="experience" [(ngModel)]="feedback.experience"
                  rows="4" class="form-control form-control-alternative" required></textarea>
                <small *ngIf="experience.errors?.required && experience.touched" class="text-danger">Experience is
                  required</small>
              </div>
              <div class="form-group">
                <label>What did you do in the session?</label>
                <textarea autocomplete="off" #sessions="ngModel" name="description" [(ngModel)]="feedback.description"
                  rows="4" class="form-control form-control-alternative" required></textarea>
                <small *ngIf="sessions.errors?.required && sessions.touched" class="text-danger">Session reporting is
                  required</small>
              </div>
              <div class="form-group">
                <label>Suggestions</label>
                <textarea autocomplete="off" rows="4" name="suggestions" [(ngModel)]="feedback.suggestions"
                  class="form-control form-control-alternative"></textarea>
              </div>
              <div class="form-group">
                <label>Your requirements</label>
                <textarea autocomplete="off" rows="4" name="requirements" [(ngModel)]="feedback.requirements"
                  class="form-control form-control-alternative"></textarea>
              </div>
              <div class="text-center mt-4 mb-4">
                <p *ngIf="disabled" class="text-center text-default"><small>Please wait...</small></p>
                <button type="submit" [disabled]="!form.valid || disabled" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>