<div class=" pb-0 pt-0 pt-md-6  bg-primary ">
    <div class="container-fluid mb-0">

    </div>

</div>
<div class=" row justify-content-center mx-0 mt-0 py-4" >
    <div class="col-12 col-xl-10 p-0">
        <div class="card shadow p-xl-4">
            <!-- Card header -->
            <div class="card-header border-0">
                <div class="row pb-8 mb-5">

                    <div class="col-12 p-0">
                        <h1 class="mb-0 text-center">Attendance</h1>
                        <hr>
                    </div>
                    <div class="col-12">
                        <app-tabs (showTab_1)="showTab1($event)" (showTab_2)="showTab2($event)"></app-tabs>

                    </div>
                    <div class="col-12" *ngIf="tab1">
                        <div class="col-12 col-sm-7 col-md-6 col-lg-4 col-xl-4 mx-auto d-block">
                            <div class="form-group">
                                <label class="form-control-label" for="input-group">Select Group</label>
                                <select required class="form-control form-control-alternative"
                                [ngClass]="{'ng-invalid': group.invalid&&group.touched}" 
                                id="input-group" (change)="selectedGroup($event)" name="group" #group="ngModel" ngModel>
                                   <option value="" selected>Select</option>
                                    <option class="combobox" [value]="g.groupId" *ngFor="let g of groups;trackBy: trackGroupsById" >{{g.groupName}}
                                    </option>                                    
                                </select>                                
                            </div>   
                            <small *ngIf="group.invalid&&group.touched" class="text-danger">Group is
                                required</small>                       
                        </div>
                        <ng-container *ngIf="showSpinner">
                            <div class="col-12 my-8 ">
                                <mat-spinner class="mx-auto d-block my-4" color="primary" [diameter]="40">
                                </mat-spinner>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="noKids">
                            <div class="col-12 col-xl-10 mx-auto d-block my-xl-6 my-4 py-xl-7 py-6">
                                <p class="text-center text-xl"><i class="fas fa-child"></i></p>
                                <p class="text-xl text-center text-lg"><b>No kids have attended of this group.</b></p>
                            </div>
                        </ng-container>
                       <ng-container *ngIf='kLength'>
                        <div class="col-12 mt-5">
                            <div class="row justify-content-center mb-4">
                                <div class="col-xl-10 mx-auto d-block">

                                    <form class="example-container ">
                                        <div class="col-lg-6 col-md-7 col-sm-7 mx-auto d-block">
                                            <div class="form-group mb-0">
                                                <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
                                                    <div class="input-group input-group-alternative p-0 border border-primary"
                                                        style="border-radius: 30px; ">
                                                        <div class="input-group-prepend  ">
                                                            <span class="input-group-text p-0 m-2"><i
                                                                    class="fas fa-search"></i></span>
                                                        </div>
                                                        <input autocomplete="off" class="form-control p-0 " style="border-radius: 30px;"
                                                            placeholder="Search" type="text" (focus)="focus = true"
                                                            (blur)="focus = false" [(ngModel)]="search" name="search">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-hover">
                                <thead class="thead-light">
                                    <tr>

                                        <th>
                                            <h4>Kid</h4>
                                        </th>
                                        <th>
                                            <h4>Name</h4>
                                        </th>
                                        <th>
                                            <h4>Present ?</h4>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let k of allKids | kids : search ">
                                        <td class="table-user">
                                            <div class="col-auto">
                                                <!-- Avatar -->
                                                <div class="avatar rounded-circle ">
                                                    <img  class="img-responsive" 
                                                        src="{{k.photo}}">
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <h3>{{k.name}}</h3>
                                        </td>
                                        <td>
                                            <i *ngIf="k.attendance" class="display-4 fas fa-check text-success"></i>
                                            <i *ngIf="k.attendance==false" class="display-4 fas fa-times text-danger"></i>
                                        </td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                       </ng-container>
                    </div>
                    <div class="col-12 mb-4" *ngIf="tab2">
                        <ng-container *ngIf="showVtSpinner">
                            <mat-spinner class="mx-auto my-4" color="primary" [diameter]="40">
                            </mat-spinner>
                        </ng-container>
    
                        <ng-container *ngIf="noUsers">
                            <div class="col-12 col-xl-10 mx-auto d-block my-xl-6 my-4 py-xl-7 py-6">
                                <p class="text-center text-xl"><i class="fas fa-users"></i></p>
                                <p class="text-xl text-center text-lg"><b>No users have attended this session.</b></p>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="uLength">
                            <div class="col-12">
                                <p class="text-center text-muted mt-2">
                                    {{users.length}} volunteachers attended the session
                                </p>
                            </div>
                            <div class="col-12 mt-4">
                                <div class="row justify-content-center mb-4">
                                    <div class="col-xl-10 mx-auto d-block">
    
                                        <form class="example-container ">
                                            <div class="col-lg-6 col-md-7 col-sm-7 mx-auto d-block">
                                                <div class="form-group mb-0">
                                                    <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
                                                        <div class="input-group input-group-alternative p-0 border border-primary"
                                                            style="border-radius: 30px; ">
                                                            <div class="input-group-prepend  ">
                                                                <span class="input-group-text p-0 m-2"><i
                                                                        class="fas fa-search"></i></span>
                                                            </div>
                                                            <input class="form-control p-0 " style="border-radius: 30px;"
                                                                placeholder="Search" type="text" (focus)="focus = true"
                                                                (blur)="focus = false" [(ngModel)]="search" name="search">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
    
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-0">
                                <div class="row justify-content-center">
                                    <div *ngFor="let u of users | user : search" class="col-xl-5 col-lg-5 col-9 m-2">
                                        <div class="row p-2  rounded border align-items-center ">
                                            <div class="col-auto">
                                                <div class="avatar rounded-circle">
                                                    <img alt="Image placeholder" src="{{u.photo}}">
                                                </div>
                                            </div>
                                            <div class="col ml--2 p4">
                                                <h4 class="mb-0">
                                                    {{u.userName}}
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!-- Light table -->

        </div>
    </div>

</div>