<div class=" pb-0 pt-0 pt-md-6  bg-primary ">
    <div class="container-fluid mb-0">

    </div>

</div>
<ng-container *ngIf="showProgressbar">
    <div style="z-index: 100;;position: -webkit-sticky;position:sticky;top:0;">
        <mat-progress-bar mode="indeterminate" style="color:white;"></mat-progress-bar>
    </div>
</ng-container>
<div class=" row justify-content-center mx-0 mt-0 py-4"style=" background-color: #dde3f3cc;">
    <div class="col-12 col-xl-10 p-0">
        <div class="card shadow p-4">
            <!-- Card header -->
            <div class="card-header border-0">
                <div class="row">
                    <div class="col-12">
                        <h1 class="mb-0 text-center">Edit Event</h1>
                        <hr>
                    </div>
                    

               
                        <div *ngIf="isEdit" class="container">
                            <app-upload-img  [baseUrl]="baseUrl" [isPost]="true" (show)="show($event)"  (croppedImg)="getCroppedImage($event)"></app-upload-img>
                          </div>
                      <ng-container *ngIf="showForm">
                        <div class="col-12 justify-content-center">
                            <form class="mt-5" (ngSubmit)="saveEvent(form)" #form="ngForm">
                                <div class="mx-auto d-block col-xl-5 col-lg-7 col-10 my-3 ">                              
                                       <ng-container *ngIf="croppedImage">
                                        <div class="container-img" (click)="edit()" (mouseenter)="mouseEvent()" (mouseleave)="mouseEvent()">
                                            <img  [src]="croppedImage"  [ngClass]="{'darkShade':hover}" style="width:100%;" >
            
                                            <div style="cursor: pointer;"  *ngIf="hover" class="centered display-3">
                                               <i class="fas fa-edit"></i>
                                            </div>
                                        </div>
                                       </ng-container>
                                       <ng-container *ngIf="!croppedImage">
                                        <div class="container-img" (click)="edit()" (mouseenter)="mouseEvent()" (mouseleave)="mouseEvent()">
                                            <img  src="{{event.photo}}"  [ngClass]="{'darkShade':hover}" style="width:100%;" >
            
                                            <div style="cursor: pointer;"  *ngIf="hover" class="centered display-3">
                                               <i class="fas fa-edit"></i>
                                            </div>
                                        </div>
                                       </ng-container>
                                  </div>
                                <div class="row justify-content-center">
                                    <div class="col-12 col-sm-7 col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-group">Select Country</label>
                                            <select class="form-control form-control-alternative"  disabled  id="input-group"
                                                (change)="selectedCountry($event)">
                                                <option selected value="0">Select</option>
                                                <option class="combobox" [value]="c.countryId" disabled
                                                    *ngFor="let c of countries;trackBy: trackCountriesById"
                                                    [selected]="c.countryId == 8">{{c.countryName}}
                                                </option>
                                            </select>
                                            <!-- <input type="text" value="India" disabled class="form-control"> -->
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-7 col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-group">Select State</label>
                                            <select class="form-control form-control-alternative" [ngClass]="{'ng-invalid':stateSelected==0}" id="input-group"
                                                (change)="selectedState($event)">
                                                <option selected value="0">Select</option>
                                                <option class="combobox" [value]="s.stateId"
                                                    *ngFor="let s of states;trackBy: trackStatesById"
                                                    [selected]="s.stateId==stateSelected">{{s.stateName}}</option>
                                            </select>
                                            <small *ngIf = "stateSelected==0" class="text-danger">State is required</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-7 col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-group">Select District</label>
                                            <select class="form-control form-control-alternative" [ngClass]="{'ng-invalid':districtSelected==0}" id="input-group"
                                                (change)="selectedDistrict($event)">
                                                <option class="combobox" value="0" selected>Select</option>
                                                <option class="combobox" [value]="d.districtId"
                                                    *ngFor="let d of districts;trackBy: trackDistrictsById"
                                                    [selected]="d.districtId==districtSelected&&Show">{{d.districtName}}
                                                </option>
                                            </select>
                                            <small *ngIf = "districtSelected==0" class="text-danger">District is required</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-7 col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-group">Select Taluka</label>
                                            <select class="form-control form-control-alternative" [ngClass]="{'ng-invalid':talukaSelected==0}" id="input-group"
                                                (change)="selectedTaluka($event)">
                                                <option class="combobox" value="0" selected>Select</option>
                                                <option class="combobox" [value]="t.talukaId"
                                                    *ngFor="let t of talukas;trackBy: trackTalukasById"
                                                    [selected]="t.talukaId==talukaSelected&&Show">{{t.talukaName}}
                                                </option>
                                            </select>
                                            <small *ngIf = "talukaSelected==0" class="text-danger">Taluka is required</small>
                                        </div>                                    
                                    </div>
                                    <div class="col-12 col-sm-7 col-md-6 ">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-group">Select Village</label>
                                            <select class="form-control form-control-alternative" [ngClass]="{'ng-invalid':villageSelected==0}" id="input-group"
                                                (change)="selectedVillage($event)">
                                                <option class="combobox" value="0" selected>Select</option>
                                                <option class="combobox" [selected]="v.villageId ==villageSelected" [value]="v.villageId"
                                                    *ngFor="let v of villages;trackBy: trackVillagesById">
                                                    {{v.villageName}}
                                                </option>
                                            </select>
                                            <small *ngIf = "villageSelected==0" class="text-danger">Village is required</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-7 col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-group">Select Project</label>
                                            <select class="form-control form-control-alternative" id="input-group" [ngClass]="{'ng-invalid':projectSelected==0}" (change)="selectedProject($event)">
                                                <option selected value="0">Select</option>
                                                <option class="combobox" [selected] = "event.project.projectId == p.projectId" [value]="p.projectId" *ngFor="let p of projects">{{p.projectName}}
                                                </option>
                                            </select>
                                            <small *ngIf = "projectSelected==0" class="text-danger">Project is required</small>
                                        </div>
                                    </div>


                                    <div class="col-12 col-sm-7 col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-name">Event Title</label>
                                            <input autocomplete="off" type="text" id="input-name"
                                                class="form-control form-control-alternative" placeholder="Event Title"
                                                name="name" #name="ngModel"  [(ngModel)]="event.title" required maxlength="50">
                                                <small *ngIf="!name.valid && name.touched" class="text-danger">Title is
                                                    required</small>
                                        </div>
                                    </div>

                                    
                                    

                                    <div class="col-12 col-sm-7 col-md-6 ">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-eventdate">Event
                                                Date</label>
                                            <input type="text" id="input-eventdate"
                                                class="form-control form-control-alternative"  placeholder="Event Date"
                                                name="eventdate" #date="ngModel" [(ngModel)]="event.eventDate" required onfocus="(this.type='date')">
                                                <small *ngIf="!date.valid && date.touched" class="text-danger" >Date is
                                                    required</small>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-7 col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-eventtime">Event Starting
                                                Time</label>
                                            <input type="time" id="input-eventtime"
                                                class="form-control form-control-alternative" placeholder="Event Time"
                                                name="eventStartingTime" #startingTime="ngModel"  [(ngModel)]="event.eventStartingTime" required>
                                                <small *ngIf="!startingTime.valid && startingTime.touched" class="text-danger">Starting time is
                                                    required</small>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-7 col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-eventtime">Event Ending
                                                Time</label>
                                            <input type="time" id="input-eventtime"
                                                class="form-control form-control-alternative" placeholder="Event Time"
                                                name="eventEndingTime" #endingTime="ngModel" [(ngModel)]="event.eventEndingTime" required>
                                                <small *ngIf="!endingTime.valid && endingTime.touched" class="text-danger">Ending time is
                                                    required</small>
                                        </div>
                                    </div>


                                    <div class="form-group  col-12 col-sm-11 col-md-12">
                                        <label class="form-control-label">Event Data</label>
                                        <textarea autocomplete="off" rows="4" class="form-control form-control-alternative"  #data="ngModel" name="data" [(ngModel)]="event.eventData" required ></textarea>
                                        <small *ngIf="!data.valid && data.touched" class="text-danger">Data are
                                            required</small>
                                    </div>

                                    <div class="col-12 col-sm-7 col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-stream">Activities</label>
                                            <select class="form-control form-control-alternative" id="input-stream"
                                                name="stream" multiple [(ngModel)]="selectedActivities">
                                                <option selected value="0">Select</option>
                                                <option *ngFor="let a of activities" [value]="a.activityId">{{a.activityName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    
    
                                    
                                        <div class="col-12 mt-4 mb-2 ">
                                            <p *ngIf="disabled" class="text-center text-default"><small>Please wait, Editing event..</small></p>
                                            <button type="submit" [disabled]="!form.valid || disabled" class=" mx-auto d-block btn btn-primary btn-round btn-icon">
                                                <span class="btn-inner--text ">Save</span>
                                            </button>
        
        
                                        </div>
                                    
                                </div>

                            </form>
                        </div>
                      </ng-container>
                  
                </div>
            </div>
           
        </div>
    </div>

</div>