<meta http-equiv='cache-control' content='no-cache'>
<div class=" pb-4 pt-0 pt-lg-0 d-flex align-items-center "
  style="min-height: 400px; background-image: url(assets/img/banners/profile-banner.gif); background-size: cover; background-position: center;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-10">
        <h1 *ngIf="!heading" class=" text-white">Hello {{user.userName}}</h1>
        <h1 *ngIf="heading" class=" text-white ">{{volunteacher.user.type.type}}</h1>
        <!-- <h2 class="text-white mt-0 ">This is your profile page. You can see in how many sessions you have attended and in which projects you are. </h2>
        -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--8 bg-default">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <ng-container *ngIf="isVt">
                <img src="{{volunteacher.user.photo}}" id='image' class="rounded-circle">
              </ng-container>
              <ng-container *ngIf="!isVt">
                <img src="{{user.photo}}" id='image' class="rounded-circle">
              </ng-container>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"></div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <button (click)='notHide()' *ngIf="show" class="btn bg-transparent border-0 " [routerLink]="['projects']">
                  <span class="heading" style="font-size: 18px;color: #525f7f;"><b>{{totalProject}}</b></span><br>
                  <span class="text-primary">Projects</span>
                </button>
                <button (click)='notHide()' class="btn  bg-transparent border-0 " [routerLink]="['posts']">
                  <span class="heading" style="font-size: 18px;color: #525f7f;"><b>{{totalPosts}}</b></span><br>
                  <span class="text-primary">Posts</span>
                </button>
                <button *ngIf="show" class="btn bg-transparent border-0 " style="pointer-events: none;">
                  <span class="heading" style="font-size: 18px;color: #525f7f;"><b>{{totalSessions}}</b></span><br>
                  <span class="text-primary">Sessions</span>
                </button>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{user.userName}}
            </h3>


            <div class="h5">
              <i class="ni business_briefcase-24 mr-2"></i>{{volunteacher.experience}}
            </div>
            <hr class="my-4 " />
            <div class="">
              <ng-container *ngIf="isVt">
                <div class="text-center" *ngIf="volunteacher.user.type.type=='VOLUNTEACHER'">
                  <i
                    class="ni ni-square-pin mr-3 mb-3"></i>{{volunteacher.district.districtName}},{{volunteacher.district.state.stateName}}
                </div>
                <div class="text-center" *ngIf="volunteacher.user.type.type=='LOCAL VOLUNTEACHER'">
                  <i
                    class="ni  ni-square-pin mr-3 mb-3"></i>{{volunteacher.village.villageName}},{{volunteacher.district.state.stateName}}
                </div>
                <div class="text-center" *ngIf="volunteacher.user.type.type=='LOCAL VOLUNTEACHER'">
                  <i class="fas fa-school mr-3 mb-3"></i>{{volunteacher.school}}
                </div>
                <div class="text-center" *ngIf="volunteacher.user.type.type=='VOLUNTEACHER'">
                  <i class="fas fa-university mr-3 mb-3"></i>{{volunteacher.employerName}}
                </div>
                <div class="text-center">
                  <i class="fas fa-envelope mr-3 mb-3"></i>{{volunteacher.user.email}}
                </div>
                <div class="text-center">
                  <i class="fas fa-phone mr-3"></i>{{volunteacher.user.phoneNumber}}
                </div>
              </ng-container>
              <ng-container *ngIf="!isVt">
                <div class="text-center">
                  <i class="fas fa-envelope mr-3 mb-3"></i>{{user.email}}
                </div>
                <div class="text-center">
                  <i class="fas fa-phone mr-3"></i>{{user.phoneNumber}}
                </div>
              </ng-container>

            </div>
            <!-- <p>Complted M.Sc in AI ML ,currently working at Google. Pursuing PhD in Canada</p> -->
            <a *ngIf="editProfile" [hidden]='isButtonHidden' [routerLink]="['edit-profile']" (click)='hide()' class="btn btn-info mt-3">Edit Profile</a>



          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 *ngIf="subHeading" class="mb-0">My account</h3>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>