<div class=" pb-0 pt-0 pt-md-6  bg-primary">
    <div class="container-fluid mb-0">

    </div>

</div>
<ng-container *ngIf="showProgressbar">
    <div style="z-index: 100;position: -webkit-sticky;position:sticky;top:0;">
        <mat-progress-bar mode="indeterminate" style="color:white;"></mat-progress-bar>
    </div>
</ng-container>


<ng-container>
<div class=" row justify-content-center mx-0 mt-0 py-4" style=" background-color: #dde3f3cc;">
    <div class="col-12 col-xl-10 ">
        <div class="card shadow p-4">
            <!-- Card header -->
            <div class="card-header border-0">
                <div class="row">
                    <div class="col-12">
                        <h1 class="mb-0 text-center">Edit Village</h1>
                        <hr>
                    </div>
                  
                   
                        <div class="col-12 justify-content-center">
                            <form (ngSubmit)="saveVillage()" #form="ngForm">
                                <div class="row justify-content-center mt-4 px-xl-4 px-lg-6">
                                    <div class="col-12 col-sm-7 col-md-6 col-lg-6 col-xl-5">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-group">Select Country</label>
                                            <select class="form-control form-control-alternative" id="input-group">
                                                <option class="combobox" [value]="c.countryId" 
                                                    [selected]="c.countryId == 8" (change)="selectedCountry($event)"
                                                    *ngFor="let c of countries;">
                                                    {{c.countryName}}
                                                </option>
                                            </select>
                                            <!-- <small *ngIf="country.invalid && country.touched" class="text-danger">Country is required</small> -->
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-7 col-md-6 col-lg-6 col-xl-5">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-group">Select State</label>
                                            <select required name="state" [ngClass]="{'ng-invalid':stateSelected==0}" class="form-control form-control-alternative" id="input-group"
                                                (change)="selectedState($event)">
                                                <option value="">Select</option>
                                                <option class="combobox" [value]="s.stateId" [selected]="s.stateId == stateSelected"
                                                    *ngFor="let s of states;">{{s.stateName}}
                                                </option>
                                            </select>
                                            <small *ngIf="stateSelected==0" class="text-danger">State is required</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-7 col-md-6 col-lg-6 col-xl-5">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-group">Select District</label>
                                            <select required name="district" class="form-control form-control-alternative" [ngClass]="{'ng-invalid':districtSelected==0}" id="input-group"
                                                (change)="selectedDistrict($event)">
                                                <option value="">Select</option>
                                                <option class="combobox" [value]="d.districtId"
                                                    [selected]="d.districtId==districtSelected&&Show"
                                                    *ngFor="let d of districts;">
                                                    {{d.districtName}}
                                                </option>
                                            </select>
                                            <small *ngIf="districtSelected==0" class="text-danger">District is required</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-7 col-md-6 col-lg-6 col-xl-5">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-group">Select Taluka</label>
                                            <select required name="taluka" [ngClass]="{'ng-invalid':talukaSelected==0}" class="form-control form-control-alternative" id="input-group"
                                                (change)="selectedTaluka($event)">
                                                <option value="">Select</option>
                                                <option class="combobox" [value]="t.talukaId"
                                                    [selected]="t.talukaId==talukaSelected&&Show"
                                                    *ngFor="let t of talukas;">{{t.talukaName}}
                                                </option>
                                            </select>
                                            <small *ngIf="talukaSelected==0" class="text-danger">Taluka is required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-village-name">Village
                                                Name</label>
                                            <input autocomplete="off" type="text" id="input-village-name"
                                                class="form-control form-control-alternative" placeholder="Village Name"
                                                value="Timba" #name="ngModel" name="villageName"
                                                [(ngModel)]="village.villageName" required>
                                            <small *ngIf="name.errors?.required && name.touched"
                                                class="text-danger">Village name is required</small>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center mt-4 mb-2 ">
                                        <p *ngIf="disabled" class="text-center text-default"><small>Please wait, Editing village..</small></p>
                                        <button type="submit" [disabled]="!form.valid || disabled"
                                            class="btn btn-primary btn-round btn-icon">
                                        Save
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                   
                   
                </div>
            </div>
           
        </div>
    </div>

</div>
</ng-container>