<ng-container *ngIf="showProgressbar">
    <div style="z-index: 100;;position: -webkit-sticky;position:sticky;top:0;">
        <mat-progress-bar mode="indeterminate" style="color:white;"></mat-progress-bar>
    </div>
</ng-container>

<div class="header bg-gradient-danger pb-8 pt-4 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <h1 class="text-md text-white title">Notifications</h1>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--8" style="background-color: #172b4d;">
    <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
        <div class="col p-2">
            <div class="card shadow border-0 pb-8">

                <div class="row justify-content-center my-5 mx-md-4 mx-sm-4 mx-4">
                    <ng-container *ngIf="showSpinner">
                        <div class="col-12">
                            <mat-spinner class="mx-auto d-block my-4" color="primary" [diameter]="40">
                            </mat-spinner>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="notifications.length">
                        <div class="col-12  col-xl-8 col-lg-12 col-md-12 col-sm-12 p-0">
                            <h2 class="mb-3">{{this.notifications[0].createdDate | date : 'MMM yyyy'}}</h2>
                            <div *ngFor="let n of notifications">
                                <ng-container *ngIf="n.session !=null">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-book"></i>
                                    </div>
                                    <div class="p-2 border-left border-dark">
                                        <div class="card shadow m-sm-4 m-2 p-0">

                                            <div class="card-body py-0  px-2 px-lg-4">
                                                <h5 class="mt-2 mb-0 text-muted text-right">
                                                    {{n.createdDate | date:'mediumDate' }} {{n.createdDate |
                                                    date:'shortTime' }}
                                                </h5>
                                                <p class="display-4 text-center text-dark">Session</p>

                                                <p class="text-center font-weight-normal text-default text-dark">The
                                                    session
                                                    is
                                                    on {{n.session.sessionDate | date :'mediumDate' }} from
                                                    {{n.session.startingTime}} to {{n.session.endingTime}} at
                                                    {{n.session.village.villageName}}</p>

                                                <p class="text-center">Please confirm are you joining?</p>
                                                <div class="text-center my-4">
                                                    <button [disabled]="n.session.disable == true || disabled"
                                                        class="btn btn-primary mx-4 text-white justify-content-between rounded px-4 py-2"
                                                        (click)="openSessionDialog(n.session.sessionId)">Attend</button>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="n.event!=null">
                                    <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                    <div class="p-2 border-left border-dark">
                                        <div class="card shadow m-4 p-0">

                                            <div class="card-body py-0 ">
                                                <h5 class="mt-2 mb-0 text-muted text-right">
                                                    {{n.createdDate | date:'mediumDate' }} {{n.createdDate |
                                                    date:'shortTime' }}
                                                </h5>
                                                <p class="display-4 text-center text-dark">Event</p>

                                                <p class="text-center font-weight-normal text-default text-dark">Event
                                                    on {{n.event.eventDate | date:'mediumDate'}}
                                                    {{n.event.eventStartingTime}} to {{n.event.eventEndingTime}} at
                                                    {{n.event.village.villageName}}</p>
                                                <div class="text-center my-4">
                                                    <button [disabled]="n.event.disable == true || disabled"
                                                        class="btn btn-dribbble mx-4 text-white justify-content-between rounded px-4 py-2"
                                                        (click)="openEventDialog(n.event.eventId)">Join</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                            <div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>