<div class=" pb-0 pt-0 pt-md-6  bg-primary ">
    <div class="container-fluid mb-0">

    </div>
</div>


<div class=" card p-xl-4 p-3 col-xl-10 mt-5 p-0 mx-auto d-block">
    <h1 class="text-center mb-4">Kids Reports</h1>
    <div class="container-fluid">
        <div class="mx-auto d-block col-12 col-sm-7 col-md-6">
            <div class="form-group">
                <label class="form-control-label" for="input-group">Select Year</label>
                <select class="form-control form-control-alternative" id="input-year" (change)="selectedYear($event)">
                    <option selected value="0">Select</option>
                    <option *ngFor="let y of years"  [value]="y" >{{y}}
                    </option>
                </select>
            </div>
        </div>
        <ng-container *ngIf="showSpinner">
            <mat-spinner class="mx-auto my-4" color="primary" [diameter]="40">
            </mat-spinner>
          </ng-container>
        <ng-container *ngIf="noReports">
            <div class="col-12 col-xl-10 mx-auto d-block my-xl-6 my-4 py-xl-7 py-6">
                <p class="text-center text-xl"><i class="fab fa-readme"></i></p>
                <p class="text-xl text-center text-lg"><b>No kids reports yet.</b></p>
            </div>
          </ng-container>
           <ng-container *ngIf="krLength">
            <div *ngFor="let k of kidsReports" class="row justify-content-center">
                <div style="cursor: pointer;" routerLink="/admin/kids/{{k.kid.kidId}}/reports/{{k.kidreportId}}/kids-report" class="card  bg-primary  text-center p-3 mb-3 col-6">
                        <h1 class="text-white">{{k.createdDate | date:'MMMM yyyy'}}</h1>
                        <h4 class="text-white">created on {{k.createdDate | date : 'mediumDate'}}</h4>
                </div>
            </div>  
           </ng-container>   
    </div>
</div>