<style>
    .btn {
        border: none;
        box-shadow: none;
    }

    .btn:active {
        border: none;
        box-shadow: none;
    }
</style>
<div class=" pb-0 pt-0 pt-md-6  bg-gradient-danger ">
    <div class="container-fluid mb-0">

    </div>

</div>
<ng-container *ngIf="showProgressbar">
    <div style="z-index: 100;;position: -webkit-sticky;position:sticky;top:0;">
        <mat-progress-bar mode="indeterminate" style="color:white;"></mat-progress-bar>
    </div>
</ng-container>
<div class=" row justify-content-center mx-0 mt-0 py-4" style=" background-color: #f8fcfd;">
    <div class="col-12 col-xl-10 ">
        <div class="card shadow p-4">
            <!-- Card header -->
            <div class="card-header border-0">
                <div class="row">
                    <div class="col-12">
                        <h1 class="mb-0 text-center">Areas</h1>
                        <hr>
                    </div>
                    <div class="col-12 text-right mt-3 ">
                        <button class="btn btn-primary btn-round btn-icon" (click)="show()">

                            <span class="btn-inner--icon"><i class="fas fa-plus fa-lg"></i></span>
                            <span class="btn-inner--text ">Add area</span>
                        </button>
                        <p style="background-color: #f8d7da;" class="alert  text-default text-md text-center mt-3">
                            <b>The area can not be deleted which is connected with kids data.</b></p>
                    </div>
                    <ng-container *ngIf="isShow">
                        <div class="col-12 justify-content-center">
                            <form (ngSubmit)="addArea(form)" #form="ngForm">

                                <div class="row justify-content-center">
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-activity-name">Area</label>
                                            <input autocomplete="off" type="text" id="input-village-name"
                                                #name="ngModel" class="form-control form-control-alternative" required
                                                name="area" [(ngModel)]="area.areaName">
                                            <small *ngIf="name.errors?.required && name.touched"
                                                class="text-danger">Area name is required</small>
                                        </div>
                                    </div>

                                    <div class="col-12 mt-4 mb-2 ">
                                        <button [disabled]="!form.valid" type="submit"
                                            class=" mx-auto d-block btn btn-dribbble btn-round btn-icon">
                                            <span class="btn-inner--text ">Add</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- Light table -->
            <ng-container *ngIf="showSpinner">
                <mat-spinner class="mx-auto my-4" color="primary" [diameter]="40">
                </mat-spinner>
            </ng-container>
            <ng-container *ngIf="noAreas">
                <div class="col-12 col-xl-10 mx-auto d-block my-xl-4 my-6 py-xl-6 py-6">
                    <p class="text-xl text-center text-lg"><b>No areas yet.</b></p>
                </div>
            </ng-container>
            <ng-container *ngIf="aLength">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        <h3>No</h3>
                                    </th>
                                    <th>
                                        <h3>Area</h3>
                                    </th>
                                    <th class="text-center">
                                        <h3>Edit</h3>
                                    </th>
                                    <th class="text-center">
                                        <h3>Delete</h3>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let a of areas;let index=index">
                                    <td class="table-user">
                                        <h3>{{index+1}}</h3>
                                    </td>
                                    <td class="p-0">
                                        <ng-container *ngIf="a.isEdit">
                                            <form #form="ngForm">
                                                <div class="col-xl-8 col-10 mt-2 pl-0 ">
                                                    <div class="form-group">
                                                        <input (keyup.enter)="saveArea(index)" autocomplete="off"
                                                            class="text-lg" [(ngModel)]="a.areaName" name="area"
                                                            #name="ngModel" type="text"
                                                            class="form-control border-0 m-0 "
                                                            style="border-radius: 0px;font-size: 17px;color:#32325d"
                                                            required>
                                                    </div>
                                                    <small *ngIf="name.errors?.required && name.touched"
                                                        class="text-danger">Area name is
                                                        required</small>
                                                </div>
                                            </form>
                                        </ng-container>
                                        <ng-container *ngIf="!a.isEdit">
                                            <h3>{{a.areaName}}</h3>
                                        </ng-container>
                                    </td>
                                    <td class="text-center">
                                        <div class="col-3 mx-auto d-block ">
                                            <i style="cursor: pointer;" (click)="editArea(index)"
                                                class="fas fa-edit icon-btn text-lg text-primary"></i>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="col-3 mx-auto d-block ">
                                            <button class="btn bg-transparent" [disabled]="disabled"
                                                (click)="delete(a.areaId)">
                                                <i *ngIf="!a.isDelete || disabled" style="cursor: pointer;"
                                                    class="fas fa-trash  text-lg text-danger"></i>
                                            </button>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

</div>