<div class=" pb-0 pt-0 pt-md-6  bg-primary ">
  <div class="container-fluid mb-0">

  </div>

</div>

<div class=" row justify-content-center mx-0 mt-0 py-4" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  
  
  <div class="col-12 col-xl-10"> 
    <div class="col-xl-9 col-12 mb-4 mx-auto d-block">
      <div class="container card p-4 shadow-dark ">
        <p class="text-center text-lg text-dark"><b>Share your activities with our family </b></p>
        <div class="text-center"><a routerLink="/admin/post/create-post" class="btn bg-default m-2"
            style="color:white;">Create Post</a></div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="showSpinner">
   <div class="col-12">
    <mat-spinner class="mx-auto d-block my-4" color="primary" [diameter]="40">
    </mat-spinner>
   </div>
  </ng-container>
  <ng-container *ngIf="noPosts">
    <div class="col-12 col-xl-10  my-xl-4 my-4 py-xl-4 py-4">
        <p class="text-center text-xl"><i class="far fa-images"></i></p>
        <p class="text-xl text-center text-lg"><b>No activities yet.</b></p>
    </div>
  </ng-container>
  <ng-container *ngIf="pLength>0">
    <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" >
      <div *ngFor="let p of posts" class="mb-4">
        <div class=" col-lg-10 mx-auto d-block">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <div class="d-flex align-items-center">
            
                <div class="avatar rounded-circle">
                  <img src="{{p.createdBy.photo}}">
              </div>
                 
               
                <div class="mx-3">
                  <h4>{{p.createdBy.userName}}</h4>
                  <small class="d-block text-common">{{p.creationDate | date : mediumDate }}</small>
                </div>
              </div>
  
            </div>
  
  
            <div class=" post-image" style="margin-bottom: 1rem;">
              <img src="{{p.postPhoto}}" class="img-fluid" height="700px" width="900px">
            </div>
  
            <div class="container-fluid mt-3 mb-3">
              <p class="text-md " style="border-left: 1px solid rgba(0, 0, 0, .5);padding-left: 15px;">
                <b>{{p.postDescription}}</b>
              </p>
            </div>
  
           
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>