<div class="main-content">
  <!-- Header -->
  <div class="header bg-primary pt-5 pb-7">
    <div class="container">
      <div class="header-body">
        <div class="row align-items-center">
          <h1 class="display-3 text-white font-weight-bold ml-4 mb-2 mt-6">All India Rural Empowerment Program</h1>
          <div class="col-lg-6">

            <div class="pr-5">

              <h2 class="display-4 text-white font-weight-light mt-0">Share your knowledge and become a Volunteacher
              </h2>
              <p class="text-white mt-4">Join the VolunTeaching Movement and contribute in Nation Building Process and also understand the reality at Grassroot level</p>
              <div class="mt-5">
                <a routerLink="register" class="btn btn-white" style="color: black;">Be a Volunteacher</a>

              </div>
            </div>
          </div>
          <div class="col-lg-6 p-4">
            <img src="../../assets/img/home/teachers.jpg" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <section class="py-6 pb-9 bg-white" *ngIf='events.length'>
    <div class="row justify-content-center text-center">
      <div class="col-md-6">
        <h2 class="display-3">Events</h2>
        <!-- <p class="lead text-dark">
          Be a part of our events and Shibir. The events are oranised for character building of the kids, to develop
          leadership
          and to learn teamwork.
        </p> -->
      </div>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 mt--7 bg-white mr-0 p-xs-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 p-xs-0">
          <div class="cards-2 section-gray">
            <div class="container">
            
              <div *ngFor="let e of events" class="row justify-content-center mb-xl-6">
                <div class="col-12 ">
                  <div class="card card-blog p-xl-5">
                    <div class="card-image mt-xl--7">
                      <img class="img img-raised" src="{{e.photo}}">
                      <div class="ripple-cont"></div>
                    </div>
                    <div class="table mt-xl-6">
                      <p class="display-3 text-center text-middle text-dark">{{e.title}}</p>
                      <h3 class="text-center"> <i class="ni ni-square-pin "></i>
                        <span class="ml-2 mb-0 text-big">{{e.village.villageName}}
                          {{e.village.taluka.talukaName}},{{e.village.taluka.district.state.stateName}}</span>
                      </h3>
                      <h2 class="text-center font-weight-light mt-4">{{e.eventData}}</h2>

                      <h3 class="text-center text-big m-4">This event will be organised on <b> {{e.eventDate |
                          date:"mediumDate"}} from {{e.eventStartingTime}} to {{e.eventEndingTime}} </b>.
                        For joining register your self. You will be notified.</h3>
                      
                     <ng-container *ngIf="e.activities.length">
                      <hr class="mt-6">
                      <h3 class="display-3 mt-4" *ngIf="e.activities.length > 0">
                        Activities
                      </h3>
                      <div class="row justify-content-center p-2" *ngFor="let a of e.activities;let i=index">
                        <div class="col-12 col-xl-6 col-lg-8 ">
                          <div class="container card p-2 mb-2 shadow-dark {{colors[i%3]}}">
                            <p class="display-4 text-center fw-normal mb-0 text-dark">{{a.activityName}}</p>

                            <p class="text-center pt-0  text-dark">{{a.description}}</p>

                          </div>
                        </div>

                      </div>
                     </ng-container>

                      <hr>
                      <p class="text-center h3 text-muted">Join us to enjoy and to share your incredible knowledge with
                        our kids</p>
                      <div class="text-center mt-xl-4"><a routerLink="/event/{{e.eventId}}/event-registration"
                          class="btn btn-primary m-2" style="color:white;">JOIN</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-6" style="background-color:rgb(250, 243, 235);">
    <div class="container mt-5 pt-5">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="../../assets/img/home/mnmr.jpg" class="img-fluid">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <h1>एक दिन देश के लिए</h1>
            <h4 class="mt-4" style="color: black;"> Spend a Day as a VolunTeacher and contribute in Nation Building Process
            </h4>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h4 class="mb-0">Make your Sunday special
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-bulb-61"></i>
                    </div>
                  </div>
                  <div>
                    <h4 class="mb-0">Feel the Nation's Heartbeat with Village Visit
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-palette"></i>
                    </div>
                  </div>
                  <div>
                    <h4 class="mb-0">Share your knowledge with children</h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-6" style="background-color: lavenderblush;">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <img src="../../assets/img/home/tecno.jpg" class="img-fluid">
        </div>
        <div class="col-md-6">
          <div class="pr-md-5">
            <h1>Techno Tarana</h1>
            <h4 class="mt-4" style="color: black;">An initiative to equip the Cluster Government Schools with IT infrastructure and motivate students to learn new technologies</h4>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-6" style="background-color: linen;">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="../../assets/img/home/ekdin.jpg" class="img-fluid">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <h1>My Nation My Responsibility</h1>
            <h4 class="mt-4" style="color: black;">An initiative to involve Village Youth who trained as a Local VolunTeacher with us to empower the near by government schools</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-7 section-nucleo-icons bg-white overflow-hidden" style="background-color: lightcyan;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">Contribute</h2>
          <h4 class="lead">
            Doing good is a simple and universal vision. Give your helping hand to develop our villages.
          </h4>
          <hr class="mt-6">
          <h2 class="display-3 mt-5">Contact Us </h2>

          <ul class="list-unstyled mt-5 align-items-center">
            <li class="py-2 ">
              <div class="text-center ">
                <div>
                  <a target="_blank" style="color: darkslateblue;" href="http://volunteacher.in/"> <i
                      class="ni ni-world-2 "></i>
                    <span class="ml-2 mb-0 text-big">www.volunteacher.in</span></a>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="text-center ">
                <div>
                  <i class="fa fa-phone " style="color: darkslateblue;"></i>
                  <span style="color: darkslateblue;" class="ml-2 mb-0 text-big">+91 99250 05837</span>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="text-center ">
                <div>
                  <a style="color: darkslateblue;" href="mailto:aireprogram@gmail.com"><i class="ni ni-email-83"></i>
                    <span class="ml-2 mb-0 text-big">aireprogram@gmail.com</span></a>
                </div>
              </div>
            </li>
          </ul>
          <!-- <div class="btn-wrapper">
            <div class="text-center mt-xl-4"><a [routerLink]="['/donate']" class="btn text-white btn-default mt-3 mt-md-0"
              style="color:white;">Donate</a></div>
    
          </div> -->
        </div>
      </div>

    </div>
  </section>
  <section class="pb-5 bg-white">
    <div class="container">
      <hr>
      <div class="row row-grid justify-content-center">
        <div class="col-12 text-center text-xl">
          <a  style="color: darkslateblue;" target="_blank" href='https://youtube.com/user/Aireprogram'><i style="cursor: pointer;" class="fab fa-youtube mr-4 "></i></a>
          <a  style="color: darkslateblue;" target="_blank" href="https://instagram.com/airep_program?utm_medium=copy_link"><i style="cursor: pointer;"  class="fab fa-instagram mr-4"></i></a>
          <a  style="color: darkslateblue;" target="_blank" href="https://www.facebook.com/Aireprogram/"><i style="cursor: pointer;"  class="fab fa-facebook-square mr-4"></i></a>
          <a  style="color: darkslateblue;" target="_blank" href="https://www.linkedin.com/company/aireprogram"><i style="cursor: pointer;"  class="fab fa-linkedin mr-4"></i></a>
          <a  style="color: darkslateblue;" target="_blank" href="https://avsath.org/"><i style="cursor: pointer;"  class="fas fa-globe mr-4"></i></a>
          
        </div>
      </div>
    </div>
  </section>
</div>