<div class=" pb-0 pt-0 pt-md-6  bg-primary ">
    <div class="container-fluid mb-0">

    </div>

</div>

<ng-container *ngIf="showSpinner">
    <div class="col-12 my-8">
        <mat-spinner class="mx-auto d-block my-4" color="primary" [diameter]="40">
        </mat-spinner>
    </div>
</ng-container>
<ng-container *ngIf="!showSpinner">
    <div class="row justify-content-center mx-0 mt-5">

        <div class="col-xl-10 px-lg-4 px-md-4 ">
            <div class="card card-blog p-xl-5">
                <div class="card-image mt-xl--7 mx-xl-7 mx-lg-6 mx-md-4 mx-3">
                    
                    <img  class="img img-raised" src="{{event.photo}}">
                    <div class="ripple-cont"></div>
                </div>
                <div class="table mt-xl-6 mt-lg-5 mt-md-4">
                    <p class="display-3 text-center text-middle text-dark">{{event.title}}</p>
                    <h3 class="text-center"> <i class="ni ni-square-pin "></i>
                        <span class="ml-2 mb-0 text-big">{{event.village.villageName}},
                            {{event.village.taluka.district.districtName}} ,
                            {{event.village.taluka.district.state.stateName}}</span>
                        <br><br>
                        <i class="fas fa-clock mr-2 "></i><span class="h3">{{event.eventDate | date:'mediumDate'}} from
                            {{event.eventStartingTime}} to {{event.eventEndingTime}} </span>
                    </h3>
                    <h2 class="text-center text-justify font-weight-light mt-4">{{event.eventData}}</h2>


                    <div class="row justify-content-center mt-6">
                        <div class="col-sm-3 p-2 m-2 ">
                            <p class="display-1 text-center text-primary">{{event.users.length}}</p>
                            <p class=" h4 text-center">Volunteachers</p>
                        </div>
                        <div class="col-sm-3  p-2 m-2">
                            <p class="display-1 text-center text-yellow">{{event.kids.length}}</p>
                            <p class="h4 text-center">Kids</p>
                        </div>
                        <div class="col-sm-3 p-2 m-2">
                            <p class="display-1 text-center text-danger">{{totalParticipant}}</p>
                            <p class="h4 text-center">Others</p>
                        </div>
                    </div>

                    <ng-container *ngIf="event.activities.length">
                        <hr class="mt-6">
                        <h3 class="display-4 mt-4">
                            Activities
                        </h3>

                        <div class="row justify-content-center p-xl-4">
                            <div *ngFor="let a of event.activities;let i=index"
                                class="container card p-2 mb-4 shadow-dark col-12 col-xl-8 col-lg-8 {{colors[i%3]}}">
                                <p class="display-4 text-center fw-normal mb-0 text-dark">{{a.activityName}}</p>

                                <p class="text-center pt-0  text-dark">{{a.description}}
                                </p>
                            </div>

                        </div>
                    </ng-container>


                </div>
            </div>
        </div>

    </div>
</ng-container>