<div class=" pb-0 pt-0 pt-md-6  bg-primary ">
    <div class="container-fluid mb-0">

    </div>

</div>
<ng-container *ngIf="showProgressbar">
    <div style="z-index: 100;;position: -webkit-sticky;position:sticky;top:0;">
        <mat-progress-bar mode="indeterminate" style="color:white;"></mat-progress-bar>
    </div>
</ng-container>
<div class=" row justify-content-center mx-0 mt-0 py-4" style=" background-color: #dde3f3cc;">
    <div class="col-12 col-xl-10 p-0">
        <div class="card shadow p-4">
            <!-- Card header -->
            <div class="card-header border-0">
                <div class="row">
                    <div class="col-12">
                        <h1 class="mb-0 text-center">Events</h1>
                        <hr>
                    </div>



                    <div class="col-12">
                        <div class="row justify-content-center mx-3">
                            <div class="col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-filter">Select Filter</label>
                                    <select class="form-control form-control-alternative" id="input-filter" (change)="selectedFilter($event)">
                                        <option value="0" selected>Select</option>
                                        <option value="1">Project</option>
                                        <option value="2">Village</option>
                                        <option value="3">Time</option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf='showProjects' class="col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-project">Select Project</label>
                                    <select class="form-control form-control-alternative" id="input-project" (change)="selectedProject($event)">
                                        <option *ngFor="let p of projects;let index=index" [value]="p.projectId" [selected]="index==0">{{p.projectName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf='showVillages' class="col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-village">Select Village</label>
                                    <select class="form-control form-control-alternative" id="input-village" (change)="selectedVillage($event)">
                                        <option *ngFor="let v of villages;let index=index"  [value]="v.villageId" [selected]="index==0" >{{v.villageName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf='showTime' class="col-sm-6 col-12">
                                <div class="row">
                                    <div class="form-group col-lg-6 col-12">
                                        <label class="form-control-label" for="input-month">Month</label>
                                        <select class="form-control form-control-alternative" id="input-month" (change)="selectedMonth($event)">
                                            <option *ngFor="let m of months;let index=index"  [value]="index+1" [selected]="index==currentMonth" >{{m}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-6 col-12">
                                        <label class="form-control-label" for="input-group">Year</label>
                                        <select class="form-control form-control-alternative" id="input-year" (change)="selectedYear($event)">
                                            <option *ngFor="let y of years"  [value]="y" [selected]='y==currentYear'>{{y}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <ng-container *ngIf="showSpinner">
                        <div class="col-12">
                            <mat-spinner class="mx-auto d-block my-4" color="primary" [diameter]="40">
                            </mat-spinner>
                        </div>
                    </ng-container>
                    
                    <ng-container *ngIf="noEvents">
                        <div class="col-12 col-xl-10 mx-auto d-block my-xl-5 my-6 py-xl-7 py-6">
                            <p class="text-center text-xl"><i class="fas fa-calender"></i></p>
                            <p class="text-xl text-center text-lg"><b>No events yet.</b></p>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="eLength">
                        <div class="col-12">
                            <div class="row justify-content-center">
                                <div class="col-xl-10 mx-auto d-block">

                                    <form class="example-container ">
                                        <div class="col-lg-6 col-md-7 col-sm-7 mx-auto d-block mb-4">
                                            <div class="form-group mb-0">
                                                <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
                                                    <div class="input-group input-group-alternative p-0 border border-primary"
                                                        style="border-radius: 30px; ">
                                                        <div class="input-group-prepend  ">
                                                            <span class="input-group-text p-0 m-2"><i
                                                                    class="fas fa-search"></i></span>
                                                        </div>
                                                        <input autocomplete="off" class="form-control p-0 "
                                                            style="border-radius: 30px;" placeholder="Search"
                                                            type="text" (focus)="focus = true" (blur)="focus = false"
                                                            [(ngModel)]="search" name="search">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-center mb-2">
                                <small class="text-muted text-sm">Search by event name, project, village , month or
                                    year</small>
                            </div>
                            <p class="text-right mr-3 text-primary text-xl"> <i (click)="download()"
                                    style="cursor: pointer;" class="fas fa-download icon-btn "></i></p>
                        </div>
                        <div class="table-responsive">

                            <table class="table align-items-center table-flush table-hover">
                                <thead class="thead-light">
                                    <tr>

                                        <!-- <th>
                                    <h3>Village Name</h3>
                                </th> -->
                                        <th>
                                            <h3>No</h3>
                                        </th>
                                        <th>
                                            <h3>Event</h3>
                                        </th>

                                        <th>
                                            <h3>Event Date</h3>
                                        </th>
                                        <th>
                                            <h3>Event Time</h3>
                                        </th>

                                        <th>
                                            <h3>Village</h3>
                                        </th>

                                        <th>
                                            <h3>Project</h3>
                                        </th>

                                        <th>
                                            <h3 class="text-center">View</h3>
                                        </th>

                                        <th>
                                            <h3 class="text-center">Edit</h3>
                                        </th>
                                        <th>
                                            <h3 class="text-center">Delete</h3>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let e of events | event : search ;let i=index; trackBy:trackById">

                                        <!-- <td class="table-user">
                                    <h3>{{e.villageName}}</h3>
                                </td> -->

                                        <td class="table-user">
                                            <h3>{{i+1}}</h3>
                                        </td>
                                        <td class="table-user">
                                            <h3>{{e.title}}</h3>
                                        </td>

                                        <td class="table-user">
                                            <h3>{{e.eventDate | date:'mediumDate'}}</h3>
                                        </td>
                                        <td class="table-user">
                                            <h3>{{e.eventStartingTime}}</h3>
                                        </td>
                                        <td class="table-user">
                                            <h3>{{e.village.villageName}}</h3>
                                        </td>
                                        <td class="table-user">
                                            <h3>{{e.project.projectName}}</h3>
                                        </td>
                                        <td class="table-user text-center">
                                            <button routerLink="/admin/events/{{e.eventId}}/event-details"
                                                class="btn text-white " style="background-color: #5b46cf;">View
                                                Details</button>
                                        </td>
                                        <td>
                                            <div class=" text-center " >
                                                <button class="btn bg-transparent" routerLink="/admin/events/{{e.eventId}}/edit">
                                                    <i class="fas fa-edit text-lg text-primary"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class=" text-center ">
                                                <button class="btn bg-transparent" [disabled]="disabled"
                                                    (click)="delete(e.eventId,e.photo)">
                                                    <i class="fas fa-trash text-lg text-danger"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6 pl-0 mx-auto d-block">
                            <div class="row justify-content-center">
                                <div style="cursor: pointer;" class="col-auto mt-1">
                                    <div *ngIf="!previousDisabled"
                                        class="icon  icon-shape bg-primary text-white rounded-circle shadow"
                                        (click)="previousPage()">
                                        <i class="fas fa-angle-double-left"></i>
                                    </div>
                                </div>
                                <div style="cursor: pointer;" class="col-auto  mt-1">
                                    <div *ngIf="!nextDisabled"
                                        class="icon icon-shape bg-primary text-white rounded-circle shadow"
                                        (click)="nextPage()">
                                        <i class="fas fa-angle-double-right"></i>
                                    </div>
                                </div>

                               
                            </div>
                            <p class='text-center my-4'> <small>{{page + 1}} / {{totalEventsPages}} </small></p>
                        </div>
                    </ng-container>

                </div>
                <!-- Light table -->

            </div>
        </div>

    </div>