<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Forget password?</h1>
            <h3 class="text-lead text-light">Reset password in two quick steps</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-9">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-2">
            
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <h1>Reset Password</h1>
            </div>
            <form (ngSubmit)="sendOTP(myform.value)" #myform="ngForm">
          
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input autocomplete="off" [ngClass]="{'ng-invalid':false}" #email='ngModel' class="form-control" placeholder="Email" type="email" name="username" ngModel email>
                </div>
                <small *ngIf="email.value=='' && email.touched" class="text-danger">Email is required</small>
                <small *ngIf="email.errors?.email" class="text-danger">Email is invalid</small>
                <small *ngIf="invalidEmail" class="text-danger">Email does not exists</small>
              </div>
              <ng-container *ngIf="showSpinner">
                <div class="col-12">
                    <mat-spinner class="mx-auto d-block my-4" color="primary" [diameter]="40">
                    </mat-spinner>
                    <h4 class="text-center">Sending Email</h4>
                </div>
            </ng-container>
              <div class="text-center">
                <button [disabled]='!myform.valid || email.value=="" ' type="button submit"  class="btn btn-primary my-4">Reset Password</button>
              </div>
            
            </form>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  