<div class=" pb-0 pt-0 pt-md-6  bg-primary ">
    <div class="container-fluid mb-0">

    </div>

</div>
<div class=" row justify-content-center mx-0 mt-0 py-4" style=" background-color: #dde3f3cc;">
    <div class="col-12 col-xl-10 p-0">
        <div class="p-xl-4" style=" background-color: #dde3f3cc;">

            <!-- Card header -->
            <div class="card-header border-0">
                <div class="col-12">
                    <h1 class="mb-0 text-center">Kids Reports</h1>
                    <hr>
                </div>
                <app-address></app-address>
                <div class="p-xl-5">
                    <div class="card " style=" background-color: #dde3f3cc;" infiniteScroll [infiniteScrollDistance]="1"
                        [infiniteScrollThrottle]="50" (scrolled)="onScroll()">

                        <!-- Card header -->
                        <div class="card-header">
                            <!-- Title -->
                            <h5 class="h3 mb-0">Kids</h5>
                        </div>
                        <div class="col-12 mt-3">
                            <p style="cursor: pointer;" (click)="downloadKids()" class="text-right text-primary icon-btn mr-3"> <i class="fas fa-download text-xl" ></i></p>
                        </div>
                        <!-- Card body -->

                        
                        <div class="row justify-content-center my-4">
                            <div class="col-xl-10 mx-auto d-block">

                                <div class="row justify-content-center mx-3">
                                    <div class="col-sm-6 col-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-filter">Select Filter</label>
                                            <select class="form-control form-control-alternative" id="input-filter" (change)="selectedFilter($event)">
                                                <option value="0" selected>Select</option>
                                                <option value="1">Level</option>
                                                <option value="2">Standard</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div *ngIf='showLevels' class="col-sm-6 col-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-level">Select Level</label>
                                            <select class="form-control form-control-alternative" id="input-level" (change)="selectedLevel($event)">
                                                <option value="1">Aatmashiksha</option>
                                                <option value="2">Aatmashodh</option>
                                                <option value="3">Aatmavishesh</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div *ngIf='showStandards' class="col-sm-6 col-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-std">Select Standard</label>
                                            <select class="form-control form-control-alternative" id="input-std" (change)="selectedStandard($event)">
                                                <option *ngFor="let s of standards"  [value]="s" [selected]="s==1" >{{s}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <form class="example-container ">
                                    <div class="col-lg-6 col-md-7 col-sm-7 mx-auto d-block">
                                        <div class="form-group mb-0">
                                            <div class="form-group mb-0" >
                                                <div class="input-group bg-white input-group-alternative p-0 border border-white"
                                                    style="border-radius: 30px; ">
                                                    <div class="input-group-prepend  ">
                                                        <span class="input-group-text p-0 m-2"><i
                                                                class="fas fa-search"></i></span>
                                                    </div>
                                                    <input autocomplete="off" class="form-control p-0 "
                                                        style="border-radius: 30px;" placeholder="Search"
                                                        type="text"  [(ngModel)]="search"
                                                        name="search">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <ng-container *ngIf="showSpinner">
                                    <mat-spinner class="mx-auto my-4" color="primary" [diameter]="40">
                                    </mat-spinner>
                                </ng-container>
                            </div>
                        </div>
                        <ng-container *ngIf="kidslist.length==0">
                            <div class="col-12 col-xl-10 mx-auto d-block my-xl-6 my-4 py-xl-7 py-6">
                                <p class="text-center text-xl"><i class="fas fa-child"></i></p>
                                <p class="text-xl text-center text-lg"><b>No kids found.</b></p>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="kLength">
                            
                            
                            <ng-container *ngIf="kidslist.length!=0">
                                <div class="card-body p-0 p-lg-4 ">
                                    <!-- List group -->
                                    <ul class="list-group list-group-flush list my--3">
                                        <li *ngFor="let k of kidslist | kids : search" class=" card list-group-item p4 m-4"
                                            style=" box-shadow: 0px 3px 15px rgba(0,0,0,0.05);">
                                            <div class="row align-items-center ">
                                                <div class="col-auto">
                                                    <!-- Avatar -->
                                                    <div class="avatar rounded-circle">
                                                        <img  src="{{k.photo}}">
                                                    </div>
                                                </div>
                                                <div class="col ml--2 p4">
                                                    <h5 class="mb-0">
                                                        {{k.name}}
                                                    </h5>
                                                    <span class="text-muted text-sm"><b>Age</b> : {{k.age | number: '0.0-0'}}</span><br>
                                                 
                                                    <span class="text-muted text-sm"><b> Standard</b> : {{k. standard}}</span>
                                                </div>
                                                <div class="mx-auto d-block col-auto bp2">
        
                                                    <a routerLink="/admin/kids/{{k.kidId}}/reports" class="btn btn-primary btn-sm" >View Report</a>
        
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>

            </div>
        </div>

    </div>