<div class="header bg-gradient-danger py-7 py-lg-7">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Forget password?</h1>
          <h3 class="text-lead text-light">Reset password in two quick steps</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-7 col-md-9">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-2">

          <div class="card-body px-lg-5 pt-0">
            <div class="alert my-2 mx-auto d-block" style="background-color:#64ffdb2f ;" *ngIf="isEmailSent">
              <b> <label class="mx-auto d-block text-center text-success">Email sent again successfully to your email id {{email}}</label></b>
             </div>
            <div class="text-center text-muted mb-4">
              <h1>Reset Password</h1>
            </div>
            <form (ngSubmit)="verifyOTP(vms.value)" #vms="ngForm">
              <h3 class="text-center">We sent code to your email id</h3>

              <h4 class="text-muted text-center"> Enter 6 digit verification code sent to your email</h4>

              <div class="form-group mb-3 mt-4">
                <label >Enter OTP</label>
                <div class="input-group input-group-alternative">
                  <input #otp='ngModel' autocomplete="off" class="form-control" ngModel placeholder="6 digit code" type="text" name="otp" required>
                  
                </div>
                <small *ngIf="otp.errors?.required && otp.touched" class="text-danger">OTP is Required</small>
              </div>

              <div class="class alert alert-danger" *ngIf="invalidOTP">Invalid OTP.. Try again..</div>
              <span style="cursor: pointer;" class="h4 text-primary mt-2" (click)="sendOTP()">Resend OTP</span><span
                style="float: right;">{{timeleft}}</span>

              <ng-container *ngIf="showSpinner">
                <div class="col-12">
                  <mat-spinner class="mx-auto d-block my-4" color="primary" [diameter]="20">
                    
                  </mat-spinner>
                  <h4 class="text-center">Sending Email</h4>
                </div>
              </ng-container>

              
              <div class="text-center">
                <button [disabled]='!vms.valid' type="button submit" class="btn btn-primary my-4">Submit</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>