<div class="header bg-gradient-danger pb-7 pt-3 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <h1 class=" text-white title">Profile</h1>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6" style="background-color: #172b4d;">
    <div class="row">
        <div class="col p-0">
            <div class="card shadow border-0 pb-8">
                <div class="card card-header mb-4">
                    <h5 class="h3 mb-0">Set Profile Picture</h5>
                </div>
               
                <div class="row justify-content-center ">
                    <div class="container">
                        <app-upload-img [baseUrl]="baseUrl" (show)="onShow($event)" (croppedImg)="getCroppedImage($event)"></app-upload-img>
                        <ng-container *ngIf="showSpinner">
                            <div class="col-12 py-8">
                                <mat-spinner class="mx-auto d-block my-4" color="primary" [diameter]="40">
                                </mat-spinner>
                                <h3 class="text-center">Processing</h3>
                            </div>
                        </ng-container>
                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>
</div>
