<ng-container *ngIf="showProgressbar">
    <div style="z-index: 100;;position: -webkit-sticky;position:sticky;top:0;">
        <mat-progress-bar mode="indeterminate" style="color:white;"></mat-progress-bar>
    </div>
</ng-container>
<div class="header bg-gradient-danger pb-7 pt-3 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <h1 class=" text-white title">Add Kid</h1>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6" style="background-color: #172b4d;">
    <div class="row">
        <div class="col p-0">
            <div class="card shadow border-0 pb-8">

                <div class="row justify-content-center mt-4">
                    <ng-container>
                        <div class="container">
                            <app-upload-img [baseUrl]="baseUrl" [isPost]="false" (show)="show($event)"
                                (croppedImg)="getCroppedImage($event)"></app-upload-img>
                        </div>
                    </ng-container>
                    <div *ngIf="showForm" class="col-xl-10 col-lg-11 col-md-11 col-sm-10 col-11 p-0">

                        <div class="card shadow mt-5">
                            <!-- Card body -->
                            <div class="card-body">


                                <img [src]="croppedImage"
                                    class="mt--6 rounded-circle img-center img-fluid shadow shadow-lg--hover"
                                    style="width: 140px;">


                                <form class="mt-5" (ngSubmit)="addKid(form.value)" #form="ngForm">
                                    <div class="row justify-content-center  px-lg-6">
                                        <div class="col-lg-6 col-md-9 col-sm-10">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-name">Name</label>
                                                <input autocomplete="off" #name="ngModel" [(ngModel)]="kid.name"
                                                    name="name" type="text" id="input-name"
                                                    class="form-control form-control-alternative" placeholder="name"
                                                    required pattern="{{namePattern}}" maxlength="30">
                                                <small *ngIf="name.errors?.required && name.touched"
                                                    class="text-danger">Name is required</small>
                                                <small *ngIf="name.errors?.pattern" class="text-danger">Invalid
                                                    Name</small>
                                            </div>
                                        </div>
                                        <br>



                                        <div class="col-lg-6 col-md-9 col-sm-10">
                                            <div class="form-group mb-0">
                                                <label class="form-control-label" for="input-gender">Gender</label>

                                                <div class="px-4">
                                                    <div class="row">
                                                        <div class="col-lg-5 col-md-6 col-6 ">
                                                            <div class="form-group mb-2">

                                                                <input #gender="ngModel" value="1" name="gender"
                                                                    [(ngModel)]="kid.gender" class="form-check-input"
                                                                    type="radio" name="flexRadioDefault"
                                                                    id="input-male">
                                                                <label class="form-check-label" for="input-male"
                                                                    required>
                                                                    Male
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-5 col-md-6 col-6">
                                                            <div class="form-group mb-2">
                                                                <input #gender="ngModel" value="2" name="gender"
                                                                    [(ngModel)]="kid.gender" class="form-check-input"
                                                                    type="radio" name="flexRadioDefault"
                                                                    id="input-female" required>
                                                                <label class="form-check-label" for="input-female">
                                                                    Female
                                                                </label><br>
                                                            </div>

                                                        </div>
                                                        <small *ngIf="!gender.valid&& form.submitted"
                                                            class="text-danger">Gender is required</small>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-9 col-sm-10">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-dob">Date Of Birth</label>
                                                <input #dob="ngModel" name="dob" [(ngModel)]="kid.dob" type="date"
                                                    id="input-dob" class="form-control form-control-alternative"
                                                    placeholder="DOB" required>
                                                <small *ngIf="!dob.valid && dob.touched" class="text-danger">DOB is
                                                    required</small>
                                            </div>
                                        </div>



                                        <div class="col-lg-6 col-md-9 col-sm-10">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-standard">School</label>
                                                <input autocomplete="off" #school="ngModel" name="school"
                                                    [(ngModel)]="kid.school" type="text" id="input-standard"
                                                    class="form-control form-control-alternative"
                                                    placeholder="School Name" required>
                                                <small *ngIf="school.errors?.required && school.touched"
                                                    class="text-danger">School name is required</small>
                                                <!-- <small *ngIf="school.errors?.pattern" class="text-danger">Invalid School Name</small> -->
                                            </div>
                                        </div>


                                        <div class="row justify-content-center ">
                                            <div class="col-12 col-lg-6 col-md-6 col-sm-10">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-group">Standard</label>
                                                    <select #standard="ngModel" ngModel name="levels"
                                                        [ngClass]="{'ng-invalid':standard.touched&&standard.invalid}"
                                                        class="form-control form-control-alternative" id="input-group"
                                                        name="standard" required>
                                                        <option value="" selected>Select</option>
                                                        <option class="combobox" [value]="standards.indexOf(s)+1"
                                                            *ngFor="let s of standards;">
                                                            {{s}}
                                                        </option>
                                                    </select>
                                                    <small class="text-danger"
                                                        *ngIf="standard.touched&&standard.invalid">Standard is
                                                        required</small>
                                                </div>
                                            </div>
                                            
                                            <div class="col-12 col-sm-7 col-md-6 col-lg-6 ">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-group">Select
                                                        Country</label>
                                                    <select class="form-control form-control-alternative" disabled
                                                        id="input-group" (change)="selectedCountry($event)">
                                                        <option selected value="0">Select</option>
                                                        <option class="combobox" [value]="c.countryId" disabled
                                                            *ngFor="let c of countries;trackBy: trackCountriesById"
                                                            [selected]="c.countryId == 8">{{c.countryName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-7 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-group">Select
                                                        State</label>
                                                    <select class="form-control form-control-alternative"
                                                        id="input-group" (change)="selectedState($event)"
                                                        [ngClass]="{'ng-invalid':stateSelected==0}" required>
                                                        <option selected value="">Select</option>
                                                        <option class="combobox" [value]="s.stateId"
                                                            *ngFor="let s of states;trackBy: trackStatesById"
                                                            [selected]="s.stateId==7">{{s.stateName}}</option>
                                                    </select>
                                                    <small class="text-danger" *ngIf="stateSelected==0">State is
                                                        required</small>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-7 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-group">Select
                                                        District</label>
                                                    <select class="form-control form-control-alternative"
                                                        [ngClass]="{'ng-invalid':districtSelected==0}" id="input-group"
                                                        (change)="selectedDistrict($event)" required>
                                                        <option class="combobox" value="" selected>Select</option>
                                                        <option class="combobox" [value]="d.districtId"
                                                            *ngFor="let d of districts;trackBy: trackDistrictsById"
                                                            [selected]="d.districtId==141&&isShow">{{d.districtName}}
                                                        </option>
                                                    </select>
                                                    <small class="text-danger" *ngIf="districtSelected==0">District is
                                                        required</small>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-7 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-group">Select
                                                        Taluka</label>
                                                    <select class="form-control form-control-alternative"
                                                        id="input-group" (change)="selectedTaluka($event)" required
                                                        [ngClass]="{'ng-invalid':talukaSelected==0}">
                                                        <option class="combobox" value="" selected>Select</option>
                                                        <option class="combobox" [value]="t.talukaId"
                                                            *ngFor="let t of talukas;trackBy: trackTalukasById"
                                                            [selected]="t.talukaId==35&&isShow">{{t.talukaName}}
                                                        </option>
                                                    </select>
                                                    <small class="text-danger" *ngIf="talukaSelected==0">Taluka is
                                                        required</small>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-7 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-group">Select
                                                        Village</label>
                                                    <select class="form-control form-control-alternative"
                                                        id="input-group" (change)="selectedVillage($event)"
                                                        [ngClass]="{'ng-invalid':village.touched&&village.invalid}"
                                                        required #village="ngModel" name="village" ngModel>
                                                        <option class="combobox" value="" selected>Select</option>
                                                        <option class="combobox" [value]="v.villageId"
                                                            *ngFor="let v of villages;trackBy: trackVillagesById">
                                                            {{v.villageName}}
                                                        </option>
                                                    </select>
                                                    <small class="text-danger"
                                                        *ngIf="((village.touched&&village.invalid)||(village.touched&&villageSelected==0))">Village
                                                        is required</small>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-7 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-group">Select
                                                        Area</label>
                                                    <select class="form-control form-control-alternative"
                                                        id="input-group" (change)="selectedArea($event)" required
                                                        #area="ngModel" ngModel name="area"
                                                        [ngClass]="{'ng-invalid':area.touched&&area.invalid}">
                                                        <option class="combobox" value="" selected>Select</option>
                                                        <option class="combobox" [value]="a.areaId"
                                                            *ngFor="let a of areas;trackBy: trackAreasById">
                                                            {{a.areaName}}</option>
                                                    </select>
                                                    <small class="text-danger"
                                                        *ngIf="((area.touched&&area.invalid)||(area.touched&&areaSelected==0))">Area
                                                        is required</small>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6 col-md-6 col-sm-10">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-group">Select
                                                        Level</label>
                                                    <select #level="ngModel" ngModel name="level"
                                                        [ngClass]="{'ng-invalid':level.touched&&level.invalid}"
                                                        class="form-control form-control-alternative" id="input-group"
                                                        name="level" required>
                                                        <option value="" selected>Select</option>
                                                        <option class="combobox" [value]="levels.indexOf(l)+1"
                                                            *ngFor="let l of levels;">
                                                            {{l}}
                                                        </option>
                                                    </select>
                                                    <small class="text-danger"
                                                        *ngIf="level.touched&&level.invalid">Level is required</small>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-7 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-group">Select
                                                        Group</label>
                                                    <select class="form-control form-control-alternative"
                                                        id="input-group" (change)="selectedGroup($event)" required
                                                        #group="ngModel" ngModel name="group"
                                                        [ngClass]="{'ng-invalid':group.touched&&group.invalid}">
                                                        <option class="combobox" value="" selected>Select</option>
                                                        <option class="combobox" [value]="g.groupId"
                                                            *ngFor="let g of groups;trackBy: trackGroupsById">
                                                            {{g.groupName}}
                                                        </option>
                                                    </select>
                                                    <small class="text-danger"
                                                        *ngIf="group.touched&&group.invalid">Group is required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <!-- Model Should be there successfully added or not -->
                                        <ng-container>
                                            <div class="col-12 text-center mt-4 mb-4 ">
                                                <p *ngIf="disabled" class="text-center text-default"><small>Please wait,
                                                        Adding kid</small></p>
                                                <button [disabled]="!form.valid || disabled"
                                                    class="btn btn-primary">Add</button>
                                            </div>
                                        </ng-container>

                                    </div>
                                </form>




                                <!--Chart over-->
                            </div>
                        </div>





                    </div>

                </div>
            </div>
        </div>
    </div>
</div>